{%extends "card-template.html" %}
{%block card-id %}better{% endblock %}
{%block card-title %} Grow; better! {% endblock %}
{%block inside-card %} 
    <p class="lead">The Delta9 system has been built from the ground up, by growers, for growers:<br/> Creative features make your life easier and our unique light spectrum improves your yields for all plants.
    </p>
    <h3>No matter what you grow: Delta9 helps you Grow More, Better!</h3>
    <a href="#" class="btn btn-lg btn-success" onclick="$('html, body').animate({scrollTop: $('#better').offset().top }, 1000);">Find out more</a>  
{% endblock %}
