{%extends "card-template.html" %}
{%block card-id %}spectrum{% endblock %}
{%block card-title %} 3,100 &mu;Mol of Growing Power {% endblock %}
{%block inside-card %} 
    <p class="lead">Our unique direct spectrum technology <strong>only provides the light frequencies that plants need.</strong> Removing uneeded frequencies results in higher efficiency, and healthier, faster growing plants that are not confused by strange types of light.
    <h3>With Delta9, plants grow faster than with sunlight.</h3>
        <a href="#" class="btn btn-lg btn-success" onclick="$('html, body').animate({scrollTop: $('#better').offset().top }, 1000);">Learn More</a>   
{% endblock %}
