.d9nx-container {
    position: relative;
    left: -80px;
}
.plants-carousel {
    height: 700px;
}
.d9-gradient {
  background:  url("/static/img/Background.jpg"),linear-gradient(-135deg, rgba(70,9,121,1) 0%, rgba(2,0,36,1) 18%, rgba(50,0,64,1) 75%, rgba(70,9,121,1) 100%);
  background-blend-mode: luminosity;
}

.card-header {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(156,39,176,.6);
    background: linear-gradient(60deg,#ab47bc,#7b1fa2);
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
}
.deep-red-cards {

background: #efc5ca; /* Old browsers */
background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
}
.far-red-cards {

background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */

}
.deep-blue-cards {
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}
.green-cards {

background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.index-page {
    overflow-x: hidden;
}
.navbar-collapse.collapse.show {
    left: -40px;
}
.navbar .dropdown .dropdown-menu.show {
    display: block;
}

.material-icons.summer_16 {
  font-size: 32px;
  background: rgb(193,17,185);
  background: linear-gradient(90deg, rgba(193,17,185,0.9233893386456145) 0%, rgba(19,57,201,1) 39%, rgba(95,127,193,1) 51%, rgba(190,200,44,1) 78%, rgba(215,28,100,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}


.material-icons.fall_12 {
  font-size: 32px;
  background: rgb(193,17,185);
  background: rgb(193,17,185);
background: linear-gradient(90deg, rgba(193,17,185,0.9233893386456145) 0%, rgba(181,111,55,1) 18%, rgba(79,100,176,1) 39%, rgba(142,95,193,1) 51%, rgba(200,142,44,1) 78%, rgba(215,28,100,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; 
}

.material-icons.harvest { 
    font-size: 32px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; 
}

.material-icons.blue_50 {
    font-size: 32px;
    background: rgb(44,69,200);
    background: linear-gradient(90deg, rgba(44,69,200,1) 0%, rgba(215,28,100,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial; 
}

.material-icons.blue_75 {
    font-size: 32px;
background: rgb(83,215,28);
background: radial-gradient(circle, rgba(83,215,28,1) 0%, rgba(215,28,100,1) 22%, rgba(44,69,200,1) 61%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial; 
}

.material-icons.blue_66 {
    font-size: 32px;
background: rgb(83,215,28);
background: radial-gradient(circle, rgba(83,215,28,1) 6%, rgba(215,28,100,1) 31%, rgba(44,69,200,1) 70%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial; 
}
.material-icons.blue {
    background: #2c45c8;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial; 
}
.material-icons.red {
    background: #c82c8c;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial; 
}
.material-icons.green {
    background: #5dc82c;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial; 
}
