<div class="section section-cards section-dark d9-gradient">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="image-container" style="left: 150px; top: 100px;">
              <img class="img-fluid" src="/static/img/d9NX3-Lenses.png" >
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="section-description">
              <h3 class="title">Precision Optical Design</h3>
              <h6 class="description">A photon is a terrible thing to waste.</h6>
              <h5 class="description">
                The D9NX3 optical design shapes the intense flux into an evenly distributed, square output just like your grow mats!
                <br/><br/>
                HPS and MPS lights needed to be round to best suit the bulb. NX3 fixtures are designed to evenly fill all grow mats and trays with powerful light.
              </h5>
               <a href="/spectrum/summer_16" class="btn btn-white btn-round">Learn More</a>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
