<div class="container" id="love_d9">
            <div class="row align-items-center mt-md-5">
              <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                <div class="logo">
                  <div class="logo-image">
<!--  Logo here?                     -->
                  </div>
                </div>
                <br/>
<!--                 <h2 class="title">Experience it now!</h2> -->
                <h4 class="text-info">All of the features of the NX3 are controlled by a web-accessible interface.
                </h4>
                <p class="description">
                Our Demo emulators enable you to discover the unique experience that interaction with the d9:NX3 system on any web browser.
                </p>
               
                
            </div>
              <div class="col-lg-4 ml-auto text-center">
                <div>
                  <img src="/static/photos/closeup_seedling.jpg" class="img-fluid">
                </div>
              </div>
</div>
