<div class="section section-cards section-dark d9-gradient" id="plots">
      <div class="container" id="details">

            <div class="section-description">
              <h3 class="title">Ready to partner with us? </h3>
              <h6 class="description">Your plants will be as happy as we are to welcome you!</h6>
              <h5 class="description">
                We're absolutely thrilled to welcome more growers to our early market access programme! Please email us at <a href="mailto:sales@del9.biz">sales@del9.biz</a> or use the form below to send us a message. 
                <br><br>
                We will get back to you within 24 business hours.
              </h5>
             
            </div>
          </div>
      </div>

</div>
