<br/>
<br/>
<br/>
<div class="features features-5 d9-gradient" id="better_yields">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="featured-image">
                <img src="/static/photos/IMG_20200903_162853.jpg" alt="" width="500" height="600">
              </div>
            </div>
            <div class="col-lg-6 mt-md-5">
              <h6 class="category badge badge-pill bg-primary">Growing is a competitive game:</h6>
              <h1 class="title">Improve your yields!</h1>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <h4 class="info-title">Grow more.</h4>
                    <p class="description">With the d9 spectrum, your plants grow faster than sunlight - all year round.</p>
                  </div>
                  <div class="info">
                    <h4 class="info-title">Grow better.</h4>
                    <p class="description">Plants that are healthy and happy simply grow better: The combination of d9 light and very little heat production makes for very happy plants.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <h4 class="info-title">Fine-tuned.</h4>
                    <p class="description">Each plant species is different in its light requirements. Select the specific spectrum for your crop and watch your yields explode.</p>
                  </div>
                  <div class="info">
                    <h4 class="info-title">Dependable results.</h4>
                    <p class="description">With virtually no variation or degradation in light output; delta9 delivers solid results year round, bumper crop after bumper crop</p>
                  </div>
                </div>
<!--                 <a class="btn btn-primary btn-link ml-4" href="javascript:;">
                  The Science of Light and plants <i class="tim-icons icon-double-right"></i>-->
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
