<div class="container" id="reduce_inventory">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <span class="badge badge-primary badge-pill">Who needs spares anyway?</span>
              <h1 class="title">Reduce your lamps and spare parts inventories</h1>
              <p class='description'>Reduce your lamp count, eliminate the need for a spares inventory, and reduce your power usage per growth area overall.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-primary">

                  <i class="fas fa-cogs"></i>
                </div>
                <h4 class="info-title">Spare no thought.</h4>
                <p class="description">You won't ever need a spare light bulb, holder, ballast, timer-controller, reflector or screen replacement part ever again!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-success">

                  <i class="fas fa-wave-square"></i>
                </div>
                <h4 class="info-title">Switch Spectrums; not bulbs.</h4>
                <p class="description">You'll never have to have the traditional LPS and HPS/MH combo of two bulbs to change growing behaviours - your lighting systems will do it for you - all of them at the same time! </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-warning">

                  <i class="fas fa-plug"></i>
                </div>
                <h4 class="info-title">Grow more with less watts.</h4>
                <p class="description">Reduce your power usage and your lamp count per grow area with delta9. Not only will you not need to replace bulbs - you'll need less lamps and less watts overall for the same area! </p>
              </div>
            </div>
          </div>
        </div>
      
