<footer class="footer" data-background-color="black">
    <br/>
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/">
              Delta9 NX3
            </a>
          </li>
          <li>
            <a href="/aboutus">
              About Us
            </a>
          </li>
          <li>
        
          </li>
          <li>
            <a href="/contactus">
              Contact Us!
            </a>
          </li>
        </ul>
        
      </nav>
      <div class="copyright float-right">
        ©2019-<script>
          document.write(new Date().getFullYear())
        </script>, by
        <a href="https://del9.biz" target="_blank">Ardent Lighting, LLC</a> Philadelphia, PA, USA:<br/>
        <img src="/static/img/lgbt.png" alt='lgbt icon' style="max-width: 32px;" class="img-fluid"/>&#160;A 100% minority and LGBT-owned small business.
      </div>
      
    </div>
  </footer>
