<div class="features-5" style="background: linear-gradient(-135deg, rgba(70,9,121,1) 0%, rgba(2,0,36,1) 18%, rgba(50,0,64,1) 75%, rgba(70,9,121,1) 100%);">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Delta9 makes your life better.</h2>
        </div>
        {%include "presentation-features-slide1.html" %}

        {%include "presentation-features-slide2.html" %}

        {%include "presentation-features-slide3.html" %}
        
        {%include "presentation-features-slide4.html" %}
      </div> 
