<div class="col-md-3 ml-auto mr-auto">
    <div class="card card-pricing bg-success"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">insights</i>
        </div>
        <h3 class="card-title">10 Customisable Lighting Profiles </h3>
        <p class="card-description">
            Each profile can hold a full 24-hour cycle in 1-minute intervals to create custom light output profiles to suit the unique needs of your plants.<br/>
        </p>
        <br/>
        <a href="/technology/smartpdu/customslots" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
</div>
