      <section class="section section-lg">
      <section class="section">
        <div class="container" id="static">
        <h2 class="h2-seo">Included static profiles:</h2>
        <h4>Static profiles are very useful for harvesting, interacting and experimenting with your crops. For construction and general lighting purposes. And, when using D9NX3 with external timers.</h4>
        <br/>
    <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
                    <div class="row">
                        <div class="col-md-6">
                        
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">Blue:Red:Green Ratios</h5>
                            <h6 class="card-subtitle mb-2 text-muted">output a fixed setpoint with a specific ratio of (Blue:Red)+Green Light.</h6>
                            <p class="card-text justify-content-left">
                            <ul>
                            <li>50% Blue+Red; 50% Green</li>
                            <li>66% Blue+Red; 33% Green</li>
                            <li>75% Blue+Red; 25% Green</li>
                            <li>90% Blue+Red; 10% Green</li>
                            </ul>
                            </p>
                            <p class="card=text text-muted">
                            Simulates many different types of LPS and HPS/Halide traditional lighting system's output.
                            </p>
                            </div>
                            </div>

                        </div>
                        
                        <div class="col-md-6">
                                                
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">Blue:Red Ratios</h5>
                            <h6 class="card-subtitle mb-2 text-muted">output a fixed setpoint with a specific ratio of Blue:Red.</h6>
                            <p class="card-text justify-content-left">
                            <ul>
                            <li>50% Blue 50% Red</li>
                            <li>66% Blue 33% Red</li>
                            <li>75% Blue 25% Red</li>
                            <li>90% Blue 10% Red</li>
                            </ul>
                            </p>
                            <p class="card=text text-muted">
                            Ultra high efficiency growing spectrums that specifically target the vegetative and flowering/blooming responses in plants.
                            </p>
                            </div>
                            </div>
                        </div>
                        
                     
                    </div>
                </div>

                <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
                <img class="img-fluid" src="/static/photos/harvest_35778.jpg" alt="">
                </div>
                
                
                <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
                    <div class="row">
                       
                        
                        <div class="col-md-6" >
                                                
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">Harvest</h5>
                            <h6 class="card-subtitle mb-2 text-muted">full spectrum white light</h6>
                            <p class="card-text justify-content-left">
                            This mode sets the d9NX3 fixture to a low-power mixture of B:G:R that results in full-spectrum white light; specifically designed
                            for harvesting and interacting with your plants. This cycle does not disturb photosynthesis in the middle of a growth cycle.
                            </p>
                            <p class="card=text text-muted">
                            Whenever you need to interact with your plants; you need to be able to see clearly!
                            </p>
                            </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-6">
                                                
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">Static Output (R,G,B)</h5>
                            <h6 class="card-subtitle mb-2 text-muted">output full power in a single colour: red,green,blue.</h6>
                            <p class="card-text justify-content-left">
                            These profiles set the fixture to full-power output in one specific spectrum: Blue, Green, or Red.
                            For the specific cases where you need no blooming photosynthesis, you can use pure blue output.
                            In case that you need to arrest vegetative growth and induce blooming, use static red.
                            </p>
                            <p class="card=text text-muted">
                            Full power to any colour is extremely bright! Blue and Red will produce extremely high uMol.
                            </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>
       
        
        </section>
        
        </section>

       
