<div class="row">
    <div class="col">
        <ul>
        <li>
        CERES is a highly scalable Device fleet management and monitoring suite which has its origins in our smart street light and energy marketing roots.
        </li>
        <li>
        The CERES solution is geared towards intuitive controls, advanced management, system automation and precise energy tracking and savings. 
        </li>
        <li>
        CERES is offered both in our hosted solution, and locally hosted deployments in all sizes.
        </li>

        </ul>

         <br/>
         <a href="#" target="_blank" class="btn  btn-success   btn-round btn-block">
              <i class="fas fa-rocket"></i> Demo coming soon!
         </a>
    </div>
    <div class="col">
    <img src="/static/img/ceressw.jpg" alt="d9NX3" class="img-fluid">
    </div>
</div>
