{%extends "bootstrap-base.html" %}

{%block Title%}Delta9 NX3: Unique Features and Benefits for Growers {%endblock%}
{%block content %}
<!-- <div class="wrapper"> -->

<div class="page-headers" style="width: 100%;">
<br/>
<br/>
<div class="cd-section" id="features">
<div class="main main-raised" id="features">
<br/><br/>
{%include "presentation-benefits-index.html" %}
</div>



{%include "presentation-benefits-betteryields.html" %}
{%include "presentation-benefits-consistentperformance.html" %}
<!-- {%include "presentation-benefits-switching.html" %} -->
{%include "presentation-benefits-relamping.html" %}
{%include "presentation-benefits-grow-more-green.html" %}
{%include "presentation-benefits-produce-anything.html" %}
{%include "presentation-benefits-even-ppfd.html" %}
{%include "presentation-benefits-reduce-inventory.html" %}
{%include "presentation-benefits-self-install.html" %}
{%include "presentation-benefits-setit-and-forgetit.html" %}
</div>
</div>
<br/>
<br/>
{%include "presentation-footer.html" %}
<!-- </div> -->
<script type="text/javascript" src="/static/js/pages/growers.js"></script>
{%endblock%}
