<div id="carouselSpectIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSpectIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSpectIndicators" data-slide-to="1"></li>
    <li data-target="#carouselSpectIndicators" data-slide-to="2"></li>
    <li data-target="#carouselSpectIndicators" data-slide-to="3"></li>
    <li data-target="#carouselSpectIndicators" data-slide-to="4"></li>
    <li data-target="#carouselSpectIndicators" data-slide-to="5"></li>
    <li data-target="#carouselSpectIndicators" data-slide-to="6"></li>
         
  </ol>
<br/>
<br/>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {%include "presentation-fsc-slide1.html" %}
    </div>
    <div class="carousel-item">
      {%include "presentation-fsc-slide2.html" %}
    </div>
    <div class="carousel-item">
      {%include "presentation-fsc-slide3.html" %}
    </div>
    <div class="carousel-item">
      {%include "presentation-fsc-slide4.html" %}
    </div>
    <div class="carousel-item">
      {%include "presentation-fsc-slide5.html" %}
    </div>
    <div class="carousel-item">
      {%include "presentation-fsc-slide6.html" %}
    </div>
    <div class="carousel-item">
      {%include "presentation-fsc-slide7.html" %}
    </div>
    
    </div>
  <a class="carousel-control-prev" href="#carouselSpectIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselSpectIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br/>
<br/>
