<div class="row">
  <div class="col-md-4 ml-auto mr-auto">
    <div class="card card-pricing bg-danger"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">brightness_6</i>
        </div>
        <h3 class="card-title">12/12 Fall Sunlight</h3>
        <p class="card-description">
            Dynamic 12-on, 12-off Sun-like output profile simulating a Fall day boosting blooming growth..
        </p>
        <a href="/spectrum/fall_12" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
  </div>
  </div>



