<br/></br>
<div class="section" id="">
        <div class="container-fluid">
          <h2 class="title">Delta9 makes all plants very happy and productive!</h2>
          <br>
          <div class="row">
            <div class="col-lg-3">
            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <img src="/static/photos/img-2020-06-11-135148.jpg" alt="">

                <div class="colored-shadow" style="background-image: url(&quot;/static/photos/img-2020-06-11-135148.jpg&quot;); opacity: 1;"></div></div>
                <div class="card-body">
                  <h6 class="card-category text-warning">Heirloom Tomatoes</h6>
                  <h4 class="card-title">
                    Thick and heavy production of new nodes resulting in thick, healthy bunches of leaves.
                  </h4>
                </div>
            </div>
            </div>
            <div class="col-lg-3">
            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <img src="/static/photos/IMG_20200903_162853.jpg" alt="">
                <div class="colored-shadow" style="background-image: url(&quot;/static/photos/IMG_20200903_162853.jpg&quot;); opacity: 1;"></div></div>
                <div class="card-body">
                  <h6 class="card-category text-success">Cannabis Sativa (Hemp Type)</h6>
                  <h4 class="card-title">
                    The best way of germinating new clones. Healthy and happy young plants.
                  </h4>
                </div>
            </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-blog">
                <div class="card-header card-header-image">
                    <img src="/static/photos/img_2020-12-05_15-06-17.jpg" alt="">
                <div class="colored-shadow" style="background-image: url(&quot;/static/photos/img_2020-12-05_15-06-17.jpg&quot;); opacity: 1;"></div></div>
                <div class="card-body">
                  <h6 class="card-category text-info">Jalape&ntilde;o Peppers</h6>
                  <h4 class="card-title">
                    Vibrant, large flowers growing their fruit after being hand pollenated.
                  </h4>
                </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-blog">
                <div class="card-header card-header-image">
                    <img src="/static/photos/img_2020-12-05_15-06-37.jpg" alt="">
                <div class="colored-shadow" style="background-image: url(&quot;/static/photos/img_2020-12-05_15-06-37.jpg&quot;); opacity: 1;"></div></div>
                <div class="card-body">
                  <h6 class="card-category text-primary">Bell Peppers</h6>
                  <h4 class="card-title">
                    A large, juicy and well flavoured  fruit growing from our miniature potted bell peppers.
                  </h4>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
        <div class="card">
                <div class="card-header card-header-image">
                    <img class="img img-raised" src="/static/photos/IMG_20201205_183202_787.jpg">
                <div class="colored-shadow colored-shadow-big" style="background-image: url(&quot;/static/photos/IMG_20201205_183202_787.jpg&quot;); opacity: 1;"></div></div>
                <div class="card-body">
                  <h6 class="card-category text-success">The bottom line:</h6>
                  <h3 class="card-title">
                    Take one tomato clone, grow it outdoors; The other under D9.
                  </h3>
                  <h5 class="card-description">
                    Which plant is grown under D9NX3? The left one. The bigger, bushier, healthier, greener one. By and large, we've found that D9NX3 systems can outperform sunlight at around two to three times the growth ratio. This is what the right spectrum, in the right schedule, does for tomatoes. Imagine what it can do for your growth.
                  </h5>
                </div>
              
        </div>
</div>

<br/>

<br/>
<br/>
