<div class="section section-cards section-dark d9-gradient">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="image-container">
              <img class="img-fluid" src="/static/img/d9NX3PCB-mk3.png" >
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="section-description">
              <h3 class="title">Plants Evolved Under Sunlight.</h3>
              <h6 class="description">We're bringing it Indoors!</h6>
              <h5 class="description">
                The D9NX3 system follows one key principle: provide plants with light <em>they need</em> and leaves out everything <em> they don't!</em><br/><br/> Our spectrum carefully reproduces the specific parts of sunlight that plants really respond to: Blues, several types of Reds, and just a dash of Green.
              </h5>
               <a href="/spectrum/" class="btn btn-white btn-round">Learn More</a>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
