      <section class="section section-lg">
      <section class="section">
        <div class="container" id="dynamic">
        <h2 class="h2-seo">Included dynamic profiles:</h2>
        <h4>Dynamic profiles bring the rythms of nature indoors: They replicate the natural patterns of light that power outdoor agriculture (without that pesky weather getting in the way.)</h4>
        <br/>
        <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2">
                    <ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#hday12" role="tablist" >
                          12h day
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#hday16" role="tablist"  >
                          16h day
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#flowerPower" role="tablist" >
                          Flower Power
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#vegBoost" role="tablist" >
                          Veg Booster
                        </a>
                      </li>

                    </ul>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="tab-content">
                      <div class="tab-pane active" id="hday12">
                        This profile simulates a summer day with twelve hours of irradiation.
                        <br/>
                        <br/> Delta9 starts every day by supplying reds and oranges; adding in greens and finally blues as it approaches midday.
                        <br/>
                        <br/> Towards the end of the cycle, first blues fade out, then greens, and finally reds and deep reds to simulate a natural sundown.
                        <br/>
                        <br/> Plants that grow under these conditions are subject to less stress and far more robust metabolic rates than plants grown under static light.
                      </div>
                      <div class="tab-pane" id="hday16">
                        This profile simulates a long summer day with sixteen hours of irradiation.
                        <br/>
                        <br/> Delta9 starts every day by supplying reds and oranges; adding in greens and finally blues as it approaches midday.
                        <br/>
                        <br/> Towards the end of the cycle, first blues fade out, then greens, and finally reds and deep reds to simulate a natural sundown.
                        <br/>
                        <br/> Plants that grow under these conditions are subject to less stress and far more robust metabolic rates than plants grown under static light.
                      </div>
                      <div class="tab-pane" id="flowerPower">
                        This profile stimulates flowering and blooming and the growth of thicker, smaller plants.
                        <br/>
                        <br/> This profile decreases the 12h cycle's blue output peak by 30%, simulating fall and early winter days.
                        <br/>
                        <br/> The decrease in blue light in relation to red light stimulates plants to grow flowers, fruits and vegetables, and to grow thicker.
                        <br/>
                        <br/> This cycle is extremely useful to induce flowering or the gestation of fruits and veggies.
                      </div>
                      <div class="tab-pane" id="vegBoost">
                        This profile simulates stimulates the growth of vegetation and plant mass, resulting in taller, skinnier plants.
                        <br/>
                        <br/> This profile decreases the 16h cycle's peak red output by 30%, simulating late spring and summer days.
                        <br/>
                        <br/> The decrease in red light in relation to the blue light, along with long days stimulates plants to grow vegetative mass - growing taller and larger.
                        <br/>
                        <br/> This cycle is particularily well suited to stimulate vegetative growth.
                      </div>

                    </div>
                  </div>


                <div class="col-md-6">
                <img class="img-fluid" src="/static/photos/istockphoto-185539853-1024x1024.jpg" alt="">
                </div>
                </div>
                
              </div>
       
        
        </section>
        
        </section>
