{%extends "bootstrap-base.html" %}

{%block Title%}Delta9 NX3: Buy Now!{%endblock%}
{%block content %}
<link href="/static/css/index.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="/static/js/pages/spectrum.js"></script> -->
<div class="page-headers" style="width: 100%;">
<br/>
<br/>

<div class="main main-raised" id="intro">
<br/><br/>

{%include "presentation-buy-index.html"%} 
</div>
<br/><br/><br/><br/>
<div class="main main-raised">
 <div class="container" style="position: relative; top: ; z-index:1000; max-width: 90%;">



<br/>
{%include "presentation-buy-intro.html" %}

{%include "presentation-buy-contacts.html" %}

</div>

<br/>
<br/>
{%include "presentation-footer.html" %}
<!--<script type="text/javascript" src="/static/js/plugins/chartjs.min.js"></script>
<script type="text/javascript" src="/static/js/pages/spectrum.js"></script>-->
{%endblock%}

