{%extends "bootstrap-base.html" %}

{%block Title%}Delta9 NX3: Contact us{%endblock%}
{%block content %}
<link href="/static/css/index.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="/static/js/pages/spectrum.js"></script> -->
<div class="page-headers" style="width: 100%;"> 
<br/>
<br/>

<div class="main main-raised" id="intro">
<br/><br/>


</div>
<br/><br/><br/><br/>
<div class="main main-raised">
 <div class="container" style="position: relative; top: ; z-index:1000; max-width: 90%;">



<br/>

<div class="col-md-12">
{%include "presentation-contact-form.html" %}
</div>

<div class="col-md-12">
{%include "presentation-contact-details.html" %}
</div>

</div>
</div>

<br/>
<br/>
{%include "presentation-footer.html" %}
<!--<script type="text/javascript" src="/static/js/plugins/chartjs.min.js"></script>
<script type="text/javascript" src="/static/js/pages/spectrum.js"></script>-->
{%endblock%}

