
<div class="projects-4" id="projects-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Infinite spectrums - infinite possibilities:</h2>
                <h5 class="description">Seamlessly switch between Vegetative, Blooming, Static, or Custom Light Profiles instantly; at the touch of a button and without loosing output power:</h5>
                <div class="section-space"></div>
            </div>
        </div>
        <div class="row">
         <div class="card">
          <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
              <h4 class="card-title">The following standard profiles are included with all D9 fixtures:</h4>
            </div>
          </div>
          <div class="card-body">
              {%include "presentation-features-spectrum-carusel.html" %}
          </div>
      </div>
  </div>
</div>
            


