<div class="features-4" id="grow_more_green">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 mr-auto text-left">
              <h1 class="title">Grow More Green.</h1>
              <p class="description">The Bottom Line: Deploying Delta9 enables you to grow more green. From increased yields to electrical and environmental savings, it's just about helping you grow more green.</p>
              <!--<a class="btn btn-primary mt-3" href="javascript:;">
                Learn more <i class="tim-icons icon-double-right"></i>
              </a>-->
            </div>
            <div class="col-lg-8 p-sm-0">
              <div class="row">
                <div class="col-md-6">
                  <div class="info info-primary">
                    <div class="icon icon-white">
                      <i class="fas fa-expand-arrows-alt"></i>
                    </div>
                    <h4 class="info-title">Increased yield per area.</h4>
                    <p class="description">Delta9 provides up to 200% increased yields simply by stimulating and sustaing plants to grow faster and happier. It's like having perfect sunlight indoors, 24/7! <br/>
                    <!--<a href="#">How: The science of plants and light</a>-->
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info info-primary">
                    <div class="icon icon-white">
                      <i class="fas fa-battery-full"></i>
                    </div>
                    <h4 class="info-title">Reduced Power and Cooling.</h4>
                    <p class="description">Delta9 systems produce far less waste heat than other lighting solutions. There's no heat damage to your plants; no expensive AC bill to pay, and a net reduction in your environmental and CO/2 footprints.
                    <br/>
                    <!--<a href="#">Explore: Higher efficiency: happier growers.</a>-->
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="info info-primary">
                    <div class="icon icon-white">
                      <i class="fas fa-history"></i>
                    </div>
                    <h4 class="info-title">Eliminate re-lamping and lamp rotation.</h4>
                    <p class="description">All Delta9 systems can be set to a specific spectrum profile. Switch entire grow sections or individual plants from veg to bloom cycles without having to switch bulb types.
                     <br/>
                     <!--<a href="#">Discover: Plants love Delta9's light!</a>-->
                     </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info info-primary">
                    <div class="icon icon-white">
                     <i class="fas fa-tools"></i>
                    </div>
                    <h4 class="info-title">No more downtime or maintenance!</h4>
                    <p class="description">Delta9 systems provide 24/7 performance non-stop for 5.7 years. There is no downtime needed for any type of maintenance or regular replacement of bulbs needed during normal operation.
                    <br/>
                    <!--<a href="#">Focus: Reliable and dependant. </a>-->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
