        <h1 class="h1-seo">It begins with a well rounded spectrum...</h1>
        <h3 class="description">Delta9 targets four key frequencies of light to optimally support photosynthesis and plant growth.</h3>
      <section class="section section-lg">
      <section class="section">
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5 mt-lg-5">
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats deep-red-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-trophy text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">1,497 &mu;Mol
                              </p></p>
                                </p><p class="card-category text-dark"> Max Deep Red</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats far-red-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-coins text-white"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">135 &mu;Mol
                              </p></p>
                                </p><p class="card-category text-dark">Max Far Red</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats deep-blue-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-gift-2 text-info"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">1,941 &mu;Mol
                              </p></p>
                                </p><p class="card-category text-dark">Max Deep Blue</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats green-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-credit-card text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">1,227 &mu;Mol
                              </p></p>
                                </p><p class="card-category text-dark">Max Green</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 card">
            <p class="card-title">Full Spectrum Chart</p>
              <div class="pl-md-5">
                <canvas id="chart_fullspectrum" width="100%" height="100%"></canvas>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
      
</div>
