<div class="container">
            <div class="row align-items-center mt-md-5">
              <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                <div class="logo">
                  <div class="logo-image">
<!--  Logo here?                     -->
                  </div>
                </div>
                <br/>
                <h2 class="title">Plants love Delta9 light!</h2>
                <h4 class="text-info">Beyond "wide spectrum white" systems; D9NX3 systems provide plants with the frequencies <em> they need</em> while leaving out the frequencies they <em>don't.</em></h4>
                <p class="description">
                D9NX3 systems don't quote a Blue:Red or BR:Green Ratio: Growers are free to select and tweak the specific B:R and BR:G ratios to specifically target the species they're growing: Delta9 brings the best parts of sunlight indoors for your plants in a controllable, consistent manner.
                </p>
               
                
            </div>
              <div class="col-lg-6 ml-auto text-center">
                <div>
                  <img src="/static/photos/Vertical_Farm.jpg" class="img-fluid">
                </div>
              </div>
</div>

