 <div class="section">
        <div class="container">
            <div class="row">
                <div class="col md-8 ml-auto mr-auto">
                <h4 class="description text-center">
                Delta9 is a groundbreaking horticultural lighting system. Our systems enable our customers grow bigger, healthier crops, using less energy and resources, while providing a wealth of configuration, monitoring, automation and data to help growers of all sizes optimise and automate their growth.
                </h4>
                </div>
            </div>
        <div class="features-1">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-rose">
                 <i class="fas fa-chart-bar"></i>
                </div>
                <h4 class="info-title">Just the light that your plants need!</h4>
                <p>And nothing else. The D9 spectrum delivers frequencies that drive plant growth - and nothing else: Maximum growth with mimium energy. Happier plants = happier growers! </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="fab fa-connectdevelop"></i>
                </div>
                <h4 class="info-title">Incredibly Smart and Connected.</h4>
                <p>D9 is fully internet enabled: It is a smart fixture that enables custom spectrum output, custom timers and a wealth of other smart, quality of life features to improve your life and yields.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="fab fa-uncharted"></i>
                </div>
                <h4 class="info-title">Open and Extensible</h4>
                <p>All D9 systems are built with our open source firmware; enabling a wealth of sensors, automation and customisation for all our users in our community.</p>
              </div>
            </div>
            
          </div>
