        <div class="container" id="no_relamping">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <span class="badge badge-primary badge-pill">Software-driven future:</span>
              <h1 class="title">NX3 Software Demos</h1>
              <h4 class="subtitle">The NX3 System stack is comprised of three main components, each of which can be experienced immediately in a demo:</h1>
            </div>
          </div>
          <div class="row">
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            NX3PDU Smart Firmware
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
            {%include "presentation-demos-nxpdu3.html" %}
            </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            CERES Device Management (CERES IoT)
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
            {%include "presentation-demos-ceres.html" %}
            </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            CERES Device Emulator
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
            {%include "presentation-demos-ceresemu.html" %}
            </div>
            </div>
            </div>
            </div>
            </div>
            
