<div class="features features-6" id="increase_consistency">
        <div class="container">
          <div class="row align-items-center">
           
            

              <div class="row">
              <div class="col-lg-12">
              <h6 class="category badge bg-info">Consistent equipment; consistent results.</h6>
              <h1 class="title">Dependable, Consistent Results.</h1>              
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4">
                <div class="card">
                  <div class="card-header card-header-text card-header-success">
                    <div class="card-text">
                    <h3 class="info-title text-white">Less Glare, More Green.</h3>
                    </div>
                        <div class="card_body">
                        <p class="description text-white">Your plants only grow when light shines on them, not on your eyes: Delta9's optics focus the light accurately on to their leaves for maximum efficiency.</p>
                  </div>
                  </div>
                  </div>
                  </div>
                  
                  <div class="col-lg-3 col-md-4">
                  <div class="card">
                 <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                    <h3 class="info-title text-white">Square-shaped light</h3>
                    </div>
                    <div class="card_body">
                    <p class="description text-white">That match the size of growing mats and trays. From close-up blooming to high-bay sea of green applications, you can always fit it perfectly under a Delta9.</p>
                  </div>                  
                  </div>
                  </div>
                  </div>
                  
                   <div class="col-lg-3 col-md-4">
                  <div class="card">
                 <div class="card-header card-header-text card-header-rose">
                    <div class="card-text">
                    <h3 class="info-title text-white">Even Light Distribution</h3>
                    </div>
                    <div class="card_body">
                    <p class="description text-white">Your plants will grow under even light  across the entire lightbox; in comparison to round bulb fixtures, that are strongest only in the center.</p>
                  </div>                  
                  </div>
                  </div>
                  </div>
                  
                <div class="col-lg-3 col-md-4">
                  <div class="card">
                 <div class="card-header card-header-text card-header-danger">
                    <div class="card-text">
                    <h3 class="info-title text-white">Long-term Stability.</h3>
                    </div>
                    <div class="card_body">
                    <p class="description text-white">The light output will vary little over time, following a predictable pattern; and without needing bulb replacements for up to 5+ years of 24/7 usage.</p>
                  </div>                  
                  </div>
                  </div>
                  </div>
                  
                  </div>
                </div>
                </div>

                <br/>
          <!--      <a class="btn btn-primary btn-link ml-4" href="javascript:;">
                  Explore: Delta9's optical design <i class="tim-icons icon-double-right"></i>
                </a>-->
              </div>
           
          </div>
