        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                   <i class="material-icons summer_16">brightness_high</i>
                </div>
                 <h3 class="info-title">16/8 Summer Sunlight</h3>
                <p>Dynamic 16-on, 8-off Sun-like output profile simulating a Summer day boosting vegetative growth..</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
            <i class="material-icons fall_12">brightness_6</i>
                </div>
            <h3 class="info-title">12/12 Fall Sunlight</h3>
                <p>Dynamic 12-on, 12-off Sun-like output profile simulating a Fall day boosting blooming growth.. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
            <i class="material-icons harvest">wb_incandescent</i>
                </div>
            <h3 class="info-title">Harvest Mode</h3>
                <p>Static White-like output for interacting with your plants. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
            <i class="material-icons blue_50">wb_sunny</i>
                </div>
                <h3 class="info-title">50% Blue; 50% Red (Always on)</h3>
                <p>Static, high blooming preformance profile with a B:R ratio of 1:1 and no green. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                <i class="material-icons blue_66">flare</i>
                </div>
                <h3 class="info-title">66% Blue-Red; 33% Green (Always on)</h3>
                <p>Static, high vegetative preformance profile with a B:R ratio of 1:1 and a (B:R):G ratio of 2:1. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons blue_75">light_mode</i>
                </div>
                  <h3 class="info-title">75% Blue-Red; 25% Green (Always on)</h3>
                <p>Static, high vegetative preformance profile with a B:R ratio of 1:1 and a (B:R):G ratio of 3:1. </p>
              </div>
            </div>
          </div>
          
            <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
            <i class="material-icons blue">brightness_4</i>
                </div>
                <h3 class="info-title">Static Blue</h3>
                <p>Full power, always-on Blue Output. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                <i class="material-icons red">brightness_4</i>
                </div>
                <h3 class="info-title">Static Red</h3>
                <p>Static Full-power Red Output. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons green">brightness_4</i>
                </div>
                  <h3 class="info-title">Static Green</h3>
                <p>Static Green; full power output. </p>
              </div>
            </div>
          </div>
        </div>
        
