<div class="testimonials-3" id="grow_anything">
            <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 mr-auto">
              <h1 class="title">Grow more <i>anything</i>.</h1>
                   <p class="description">
                          Any plant species will thrive under the conditions that Delta9 creates. Happier plants grow faster, and produce hotter peppers, thicker resins, brighter flowers... In short. When your plants are grown under light that closely resembles sunlight; they grow better. And that makes for happier growers.
                   </p>
                </div>
              </div>

              </div>
