<div class="col-md-3 ml-auto mr-auto">
    <div class="card card-pricing bg-warning"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">bolt</i>
        </div>
        <h3 class="card-title">Open Source and Extensible</h3>
        <p class="card-description">
            The SmartPDU software interface and specifications are open source - enabling our growing community to easily create unique software and hardware to suit their needs!
        </p>
        <a href="http://osi.del9.biz" target="_blank" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
</div>
