<div class="container" id="love_d9">
            <div class="row align-items-center mt-md-5">
              <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                <div class="logo">
                  <div class="logo-image">
<!--  Logo here?                     -->
                  </div>
                </div>
                <br/>
                <h2 class="title">By Growers; for growers!</h2>
                <h4 class="text-info">Delta9 is a horticultural revolution: it will forever redefine your relationship with your growing environment, your plants, and everything around them.</h4>
                <p class="description">
                We designed Delta9 to <em>make life easier for growers:</em> Our unique system helps growers of all plant species improve their yields and quality, while reducing the labour, maintenance, and expenses associated with growing. 
                </p>
               
                
            </div>
              <div class="col-lg-4 ml-auto text-center">
                <div>
                  <img src="/static/photos/istockphoto-1126639613-1024x1024.jpg" class="img-fluid">
                </div>
              </div>
</div>
