<footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/">
              Delta9 NX3
            </a>
          </li>
          <li>
            <a href="/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="/blog">
              Blog
            </a>
          </li>
          <li>
            <a href="/products">
              Products
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        ©2019-<script>
          document.write(new Date().getFullYear())
        </script>, by
        <a href="https://del9.biz" target="_blank">Ardent Lighting, LLC</a> Philadelphia, PA, USA.
      </div>
    </div>
  </footer>
