<div class="col-md-3 ml-auto mr-auto">
    <div class="card card-pricing bg-primary"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">usb</i>
        </div>
        <h3 class="card-title">Powerful Flexibility</h3>
        <p class="card-description">
            With plenty of RAM and Flash, and a USB interface, the NX3 is prepared to support a range of sensors and automation equipment to enable digital agriculture.
        </p>
        <a href="/technology/smartpdu/frontend" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
</div>
