        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="fas fa-seedling"></i>
                </div>
                <h4 class="info-title">Nothing Grows like Delta9.</h4>
                <p>The moment you use Delta9, you know you've never used anything like it before: A revolutionary, powerful and configurable smart lighting fixture lets you do more than ever thought possible. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="fas fa-lightbulb"></i>
                </div>
                <h4 class="info-title">No more Relamping.</h4>
                <p>Free yourself from the daily hassle of having to rebulb, relamp, and rotate your crops so they're grown under the right kind of light - simply change your D9 fixture output anytime you need! </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="fas fa-vector-square"></i>
                </div>
                <h4 class="info-title">Perfectly even.</h4>
                <p>D9 is the ultimate killer of HPS and MPS lights: The light output is square - just like your growing mats! Delta9 light covers all industry-standard growing areas edge-to-edge with near-even PPFd without shading or haloing. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="fas fa-thermometer-quarter"></i>
                </div>
                <h4 class="info-title">Low Heat Production</h4>
                <p>Heat from bulbs burns your plants and a hole in your wallet every month. Delta9 has very little heat production and it's all facing backwards, away from your plants to keep them cold, lit and happy. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                 <i class="fas fa-stopwatch"></i>
                </div>
                <h4 class="info-title">Save Time</h4>
                <p>There is no need for external clocks, timers or mechanical switches. Delta9 features an on-board clock to specify custom by-the-minute programs that you can implement across your entire fleet easily. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                <i class="fas fa-money-bill-wave"></i>
                </div>
                <h4 class="info-title">Save Money</h4>
                <p>Save Energy, time, money, and our planet. Your plants and you will know the difference. The results will speak for themselves from your first harvest: Ultimately - Grow more green with Delta9. </p>
              </div>
            </div>
          </div>
        </div>
        </div>
