      <section class="section section-lg">
      <section class="section">
        <div class="container" id="dynamic">
        <h2 class="h2-seo">Included dynamic profiles:</h2>
        <h4>Dynamic profiles bring the rythms of nature indoors: They replicate the natural patterns of light that power outdoor agriculture (without that pesky weather getting in the way.)</h4>
        <br/>

                <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
                    <div class="row">
                        <div class="col-md-6">
                        
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">12/16H Summer Profile</h5>
                            <h6 class="card-subtitle mb-2 text-muted">simulate a summer day with 12/16 hours of irradiation</h6>
                            <p class="card-text justify-content-left">
                            Delta9 starts every day by supplying reds and oranges; adding in greens and finally blues close to noon.
                            Towards the end of the cycle, first blues fade out, then greens, and finally reds and deep reds to simulate a natural sundown.
                            
                            </p>
                            <p class="card=text text-muted">
                            Plants that grow under these conditions are subject to less stress and far more robust metabolic rates than plants grown under static light.
                            </p>
                            </div>
                            </div>

                        </div>
                        
                        <div class="col-md-6">
                                                
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">Veg Booster</h5>
                            <h6 class="card-subtitle mb-2 text-muted">stimulate the growth of vegetation and plant mass;  taller and skinnier plants.</h6>
                            <p class="card-text justify-content-left">
                            This profile decreases the 16h cycle's peak red output by 30%, simulating late spring and summer days.
                            The decrease in red light in relation to the blue light, along with long days stimulates plants to grow vegetative mass - growing taller and larger.
                            </p>
                            <p class="card=text text-muted">
                           This cycle is particularily well suited to stimulate vegetative growth.
                            </p>
                            </div>
                            </div>
                        </div>
                        
                     
                    </div>
                </div>

                <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
                <img class="img-fluid" src="/static/photos/harvest_1146708.jpg" alt="">
                </div>
                
                
                <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
                    <div class="row">
                       
                        
                        <div class="col-md-6" >
                                                
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">12H Fall Day</h5>
                            <h6 class="card-subtitle mb-2 text-muted">simulate a fall day with 12 hours of irradiation</h6>
                            <p class="card-text justify-content-left">
                            Delta9 starts every day by supplying reds and oranges; adding in greens and finally blues close to noon.
                            Towards the end of the cycle, first blues fade out, then greens, and finally reds and deep reds to simulate a natural sundown.
                            This profile tilts the Summer spectrum towards the dominant red ratio, stimulating vegetation
                            </p>
                            <p class="card=text text-muted">
                           This profile helps transition plants grown under summer-like sunlight into full-on harvest mode naturally, as it happens outdoors.
                            </p>
                            </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-6">
                                                
                            <div class="card" style="min-height: 340px;;">
                            <div class="card-body">
                            <h5 class="card-title">Flower Power</h5>
                            <h6 class="card-subtitle mb-2 text-muted">stimulate flowering and blooming and the growth of thicker, smaller plants.</h6>
                            <p class="card-text justify-content-left">
                            This profile decreases the 12h Fall cycle's blue output peak by 30%, simulating fall and early winter days.
                            The decrease in blue light in relation to red light stimulates plants to grow flowers, fruits and vegetables, and to grow thicker.
                            </p>
                            <p class="card=text text-muted">
                            This cycle is extremely useful to induce flowering or the gestation of fruits and veggies.
                            </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>
       
        
        </section>
        
        </section>
