<div class="wrapper" id="veg_bloom_switching">
    <div class="page-header">
      <div class="container align-items-center">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div style="padding-top: 10em;">
            <h1 class="profile-title text-center">Switch Veg/Bloom Cycles</h1>

            <p class="profile-description">At the push of a button, select between pre-loaded Vegtative and Blooming Spectrum profiles. For perfectionists, use one of the additional profile slots to create your own unique profile. A built in battery backup keeps track of local time, the selected cycle, and it's position relative to the time of day. Never miss a cycle again with delta9!</p>
            
            <div class="btn-wrapper profile pt-3">
                <a class="btn btn-primary btn-link ml-4" href="javascript:;">
                  Discover: Delta9's Customisable Spectrum <i class="tim-icons icon-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-7 ml-auto mr-auto">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <img src="/static/img/d9NX3-Lenses.png" id="d9NX3 img" class="img-center img-fluid">
                <h4 class="title">Switch Profiles Instantly:</h4>
              </div>
              <div class="card-body">
                <ul class="nav nav-pills nav-pills-primary justify-content-center text-dark">
                  <li class="nav-item cycle-items">
                    <a class="nav-link active  text-dark" data-toggle="tab" href="#spec-sunlight">
                      Sunlight 16/8
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#spec-veg">
                      Veg Boost
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#spec-flower">
                      Flower Power
                    </a>
                  </li>
                </ul>
                <div class="tab-content tab-subcategories">
                  <div class="tab-pane active" id="spec-sunlight">
                  <p>
                  The default output profile at full power, simulating a bright summer mid day sun. Ideal for balanced growing of plants in all stages of development.
                  </p>
                    <div class="table-responsive">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Frequency
                            </th>
                            <th class="header">
                              PPFD
                            </th>
                            <th class="header">
                              Percentage
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Deep Blue
                            </td>
                            <td>
                              1,208 &mu;Mol
                            </td>
                            <td>
                              40.71 %
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Deep Red
                            </td>
                            <td>
                              1,359 &mu;Mol
                            </td>
                            <td>
                              45.80 %
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Green
                            </td>
                            <td>
                              400 &mu;Mol
                            </td>
                            <td>
                              13.48 %
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="spec-veg">
                  <p>
                  Veg Boost reduces the amount of red by 35% - tilting the balance towards vegetative growth and taller, skinnier plants.
                  </p>  
                   <div class="table-responsive">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Frequency
                            </th>
                            <th class="header">
                              PPFD
                            </th>
                            <th class="header">
                              Percentage
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Deep Blue
                            </td>
                            <td>
                              1,208 &mu;Mol
                            </td>
                            <td>
                              47.20 %
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Deep Red
                            </td>
                            <td>
                              951 &mu;Mol
                            </td>
                            <td>
                              37.17 %
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Green
                            </td>
                            <td>
                              400 &mu;Mol
                            </td>
                            <td>
                              15.62 %
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="spec-flower">
                  <p>
                    Flower Power reduces the amount of blue by 35% - tilting the balance towards blooming and thicker, shorter plants.
                  </p>
                   <div class="table-responsive">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Frequency
                            </th>
                            <th class="header">
                              PPFD
                            </th>
                            <th class="header">
                              Percentage
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Deep Blue
                            </td>
                            <td>
                              845 &mu;Mol
                            </td>
                            <td>
                              32.46 %
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Deep Red
                            </td>
                            <td>
                              1,359 &mu;Mol
                            </td>
                            <td>
                              52.17 %
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Green
                            </td>
                            <td>
                              400 &mu;Mol
                            </td>
                            <td>
                              15.35 %
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
