<div class="section section-cards section-dark d9-gradient" id="plots">
      <div class="container" id="details">
        <div class="row">
          <div class="col-md-7">
            <div class="image-container" style="left: 150px; top: 100px;">
              <img class="img-fluid" src="/static/img/d9NX3-Lenses.png">
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="section-description">
              <h3 class="title">Detailed Plots</h3>
              <h6 class="description">We tried to fit it all here but...</h6>
              <h5 class="description">
                D9NX3 opens up a world of infinite possibilities for spectrum outputs and profiles. It truly is a revolution in agricultural lighting.
                <br><br>
                Since that's too many plots here; we've created a spectrum explorer and plotting page just for this purpose:
              </h5>
               <a href="/spectrum/explorer/" class="btn btn-white btn-round">Spectrum Explorer</a>
            </div>
          </div>
          
        </div>
        
      </div>
<br/>
