<div class="row">
    <div class="col">
        <ul>
        <li>
        The CERES Emulator is a Python3+PyQt5 "Device" that helps development and testing of the CERES Platform.
        </li>
        <li>
        The emulator is fully open sourced and there is a reference implementation of the CERES server coming soon.
        </li>
        <li>
        This is a particularly useful tool when testing new spectrums or mesh control strategies, as the emulator can stand in lieu of full NX3 fixtures in production as a testing and development tool.
        </li>
        </ul>
         <a href="https://github.com/di-delta9/CERES-Emulator" target="_blank" class="btn  btn-primary   btn-round btn-block">
              <i class="fab fa-github"></i> Github
         </a>
         <br/>

    </div>
    <div class="col">
    <img src="/static/img/ceresemu.png" alt="d9NX3" class="img-fluid">
    </div>
</div>
