<br/><br/>
<div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto text-center">
              <h2 class="title">SmartPDU: The open-source wonder</h2>
              <h5 class="description">Your growth is unique: Your lights should be too! At the heart of the d9NX3 design is our <a href="https://osi.del9.biz" target="_blank">open source</a>, <a href="/technology/smartpdu">customisable SmartPDU</a> - an IoT enabled powerhouse that redefines what growlights can do:</h5>
            </div>
          </div>
          <div class="row">
           <div class="col-lg-12 col-md-12">
                <img src="/static/img/d9NX3PDU-mk3.png" alt="d9NX3PDU-IMG" class="img-fluid">
            </div>
            </div>
          <br/>
          <br/>
          <div class="row">
         {%include "presentation-pdufeat-slide1.html" %}
         {%include "presentation-pdufeat-slide2.html" %}
         {%include "presentation-pdufeat-slide3.html" %}
         {%include "presentation-pdufeat-slide4.html" %}
          </div>
        
</div>
