<div class="row">
  <div class="col-md-4 ml-auto mr-auto">
    <div class="card card-pricing bg-primary"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">wb_incandescent</i>
        </div>
        <h3 class="card-title">Harvest Mode</h3>
        <p class="card-description">
            Static White-like output for interacting with your plants.
        </p>
        <a href="/spectrum/static_harvest" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
  </div>
  </div>



