        <br/><br/><hr/><br/><br/>
        <div class="container">
        
          <div class="row">
          <div class="col-md-10 ml-auto mr-auto text-center">
              <h2 class="title">Features to make growing easier</h2>
              <h5 class="description">Delta9 NX3 has been designed by growers, for growers. The standard features that are part of every NX3 fixture just plain make life easier for growers large and small, simple and sophisticated:</h5>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">electrical_services</i>
                </div>
                <h4 class="info-title">Plug-and-Play</h4>
                <p>Our fixtures are shipped with a standard C14 plug for 120-277V Operation. Simply hang, and plug. No electrical installation required. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">pending_actions</i>
                </div>
                <h4 class="info-title">Integrated Clock and Timer</h4>
                <p>Each D9NX3 includes a battery-backed-up clock module: you can control each and every lamp down to every second of the day. </p>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">fire_extinguisher</i>
                </div>
                <h4 class="info-title">Thermal Protection</h4>
                <p>Integrated thermal feedback sensors keep your beautiful new fixtures from ever overheating and failing prematurely. </p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">cloud_off</i>
                </div>
                <h4 class="info-title">No Cloud Required</h4>
                <p>Your Fixture is your property: All D9NX3 fixtures can be operated without internet access to cloud servers - local control is forever available. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">devices</i>
                </div>
                <h4 class="info-title">Web-Based Controls</h4>
                <p>All fixtures ship with a fully fledged Web/HTML based control interface. The only software you will ever need is your choice of web browser. </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">savings</i>
                </div>
                <h4 class="info-title">Lowest TCO</h4>
                <p>D9NX3 devices are some of the most efficient, and certainly the most flexible fixtures today - with the lowest total cost of ownership. </p>
              </div>
            </div>
          </div>
        </div>
        </div>
