<div class="testimonials-3" id="happyplants">
    <div id="spectrumCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                        <li data-target="#spectrumCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#spectrumCarousel" data-slide-to="1"></li>
                        <li data-target="#spectrumCarousel" data-slide-to="2"></li>
                </ol>
                    <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                      <div class="info text-left bg-info">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          You can grow your plants under bright, summer-day "sunlight", day after day, year round under Delta9 systems:  give your plants only the light frequencies they need; while leaving out those that they don't. <br/>
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200903_162845.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                       </div>
                      </div>
                      </div>
                      
                    <div class="carousel-item">
                      <div class="info text-left bg-danger">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          From Seed to harvest; plants germinate quickly and grow in volume rapidly, owing to the high and even uMol flux - all of the grow tray exhibits perfect growth. <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200930_142627.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                        </div>

                    </div>  
                    
                    <div class="carousel-item">
                      <div class="info text-left bg-primary">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          Grow any plant species equally well under Delta9: All plants evolved under sunlight - and Delta9 delivers abundant "sunshine" consistently, each day, every day. <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200604_112752.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                        </div>

                    </div>  
                    
                 <!--    <div class="carousel-item">
                      <div class="info text-left bg-danger">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          Grow anything - all species and varieties of plants - better than ever! All plants evolved to love specific parts of sunlight - and delta9 gives them just that! <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200604_112752.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                      </div>
                      
                      </div>-->

                      </div>
                 
<!--                   </div> -->
                
                </div>
                
                </div>
                </div>
