<div class="col-md-3 ml-auto mr-auto">
    <div class="card card-pricing bg-success"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">insights</i>
        </div>
        <h3 class="card-title">Customisable Lighting Profiles </h3>
        <p class="card-description">
            D9NX3 enables you to create unique lighting profiles: Each holding a full 24-hour cycle in 1-minute intervals to match the unique needs of your plants.<br/>
        </p>

        <a href="/technology/smartpdu/customslots" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
</div>
