 <div class="section">
        <div class="container">
            <div class="row">
                <div class="col md-12 ml-auto mr-auto">
                <h4 class="description text-center">
                The SmartPDU sits at the heart of the NX3 design: It controls the LED output for each channel, the fans, and the power levels. Taking it one level further it includes a smart, WiFi and Bluetooth enabled digital front end for easy provisioning and use of our unique features.
                </h4>
                </div>
            </div>
        <div class="features-1">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-rose">
                 <i class="fas fa-magic"></i>
                </div>
                <h4 class="info-title">Pure digital magic!</h4>
                <p>Control all the features of your D9NX3 fixture using a single, HTML control interface from any device on your network. No more software required!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="far fa-calendar-alt"></i>
                </div>
                <h4 class="info-title">No more Clocks or Timers.</h4>
                <p>With its integrated clock, each NX3 SmartPDU is fully manageable on a schedule out of the box without the need for external mechanical timers (Or Electricians installing it)</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                <h4 class="info-title">.</h4>
                <p>The SmartPDU is equipped to support our coming sensor and automation ecosystem: D9 systems aim to be the (open) backbone of digital, data-driven agriculture.</p>
              </div>
            </div>
            
          </div>
