{%extends "bootstrap-base.html" %}

{%block Title%}Delta9 NX3: Online Software Demos {%endblock%}
{%block content %}
<!-- <div class="wrapper"> -->
<link href="/static/css/index.css" rel="stylesheet" />
<div class="page-headers" style="width: 100%;">
<br/>
<br/>
<div class="cd-section" id="intro">
<div class="main main-raised" id="intro">
<br/><br/>  
</div>

  <div class="page-header  clear-filter d9-gradient background-image:url('/static/img/d9NX3-Lenses.png');" data-parallax="true" style="height: 20vh;">
    <div class="container">
    <div class="row">

    </div>
      <div class="row">
      </div>
    </div>
</div>

<div class="main main-raised">
 <div class="container" style="position: relative; top: ; z-index:1000; max-width: 90%;">


<div class="container">
<br/>
{%include "presentation-demos-index.html" %}
{%include "presentation-demos-welcome.html" %}

</div>
</div>
</div>
</div>
</div>
<br/>
<br/>
{%include "presentation-footer.html" %}
<!-- </div> -->
<script type="text/javascript" src="/static/js/pages/growers.js"></script>
{%endblock%}
