<div class="testimonials-3" id="self_install">
    <div class="container-fluid">
    <div class="col-md">
        <div class="card  card-blog">
                <div class="card-header card-header-image">
        <img class="img img-raised" src="/static/img/d9NX3-smallDims.png">
                <div class="colored-shadow colored-shadow-big" style="background-image: url(&quot;/static/img/d9NX3-smallDims.png&quot;); opacity: 1;"></div></div>
                <div class="card-body">
                  <h3 class="card-title">
                  Self-installation standard.
                  </h3>
                  <h5 class="card-description">
                         Delta9 systems can be hung with any number of adjustable height or fixed suspenders including chains and stainless steel cable.<br/> They ship with a standard 120V-240V C13/14 Plug and are 100% self-sufficient: They need no timers or controllers for spectrum control.<br/>Hoist them, plug them in, and grow better.
                  </h5>
                </div>
              </div>
</div>
</div>
</div>

         
