<div class="row">
    <div class="col">
        <ul>
        <li>
        The NX3PDU is controlled by an advanced, open source firmware that is manageable either by a Web page, or our MQTT/Cloud solution, CERES.
        </li>
        <li>
        The firmware is fully open sourced and there is a developent and unit test emulator available, both for download and hosted here. 
        </li>
        <li>
        To experience the Delta9 Control interface now, you can use this emulator to discover the NX3: 
        </li>
        <li>
        <strong>Please use the user and password</strong>: NX3Demo and 'NX3Demo112012', respectively with the emulator.
        </li>
        </ul>
         <a href="https://github.com/di-delta9/NX3PSUMK1-FWv1" target="_blank" class="btn  btn-primary   btn-round btn-block">
              <i class="fab fa-github"></i> Github
         </a>
         <br/>
         <a href="https://nx3emu.delta9.ooo" target="_blank" class="btn  btn-success   btn-round btn-block">
              <i class="fas fa-rocket"></i> Launch NX3PDU Emulator
         </a>
    </div>
    <div class="col">
    <img src="/static/img/d9NX3-Lenses.png" alt="d9NX3" class="img-fluid">
    </div>
</div>
