<div class="features d9-gradient">
        <div class="container" id="set_it_and_forget_it">
          <div class="row align-items-center">
            <div class="col-lg-12 mt-md-10">
              <h6 class="category badge badge-pill bg-primary">This couldn't be any cooler:</h6>
              <h1 class="title text-white">It's all in the controls!</h1>
              <h5 class="description text-white">Each d9 system leverages our unique SmartPDU design to deliver unparalleled convenience, customisation and intelligence to the grow lamp market.</h5>
              <div class="row">
               <div class="col-lg-12">
              <div class="featured-image"> 
                <img src="/static/img/d9NX3PDU-mk3.png" class="img-fluid"/>
              </div>

            </div>
              </div>
              </div>
              <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <h4 class="info-title text-white">Real time clock (with battery).</h4>
                    <p class="description text-white">The D9 PDU always knows what time it is - and what part of the cycle it should be executing. It will always deliver the correct output for any given time of the day, even after a power loss.</p>
                  </div>
                  <div class="info">
                    <h4 class="info-title text-white">Self-contained and controlled.</h4>
                    <p class="description text-white">Each PDU ships with all of our standard dynamic and static profiles; and the ability to create and store as many of your own as you like! Switching between profiles at the touch of a button.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <h4 class="info-title text-white">All you need is love (and outlets).</h4>
                    <p class="description text-white">d9NX3 systems only need to be plugged into normal wall power. There is no need for external switches, dimmers, or timers or complex splice installations. No electrician necessary!</p>
                  </div>
                  <div class="info">
                    <h4 class="info-title text-white">Open Source IOT Ready.</h4>
                    <p class="description text-white">The SmartPDU is managed via a WiFi+HTML interface. Further updates will enable IoT and Mesh support. The system is fully open source and we welcome customisations and unique solutions from our community!</p>
                  </div>
                </div>
              
              </div>
            </div>
            
          </div>
          <br/>
          <a href="/technology/smartpdu" class="btn btn-primary btn-round">Learn More</a>
        </div>
      </div>
      <br/>
      </div>
