  <div class="page-header  clear-filter d9-gradient " data-parallax="true">
    <div class="container">
    <div class="row">
    <img src="/static/img/d9NX3-Lenses.png" alt="d9NX3" class="img-fluid" id="3d_placehldr" style="max-width: 800px; position: relative; top: 350px; margin-left: auto; margin-right: auto; opacity: 0.5;">  
    <div class="col-md-8 ml-auto mr-auto" id="3dcanvas" style="min-width: 1400px; min-height: 100px;" >
    </div>
    </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
        <div id="3d_branding" style="position: relative; top: -200px;">
          <div class="brand" style="position: relative; top: -175px;">
            <h1>Delta9
              <span class="pro-badge">
                NX3
              </span>
            </h1>

           <h3 class="title">The ultimate growlamp you will ever need.<br/>
           <span style='font-size: 14px;' id="3d_help">[Loading Model... <span id='load_pct'>0</span>% (Problems? Try: <a href="/2d" class="text-primary">2D Only version</a>)]</h3>
           <br/>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br/>
<script type="module" src="/static/js/presentation-3js.js"></script>
