<div class="col-md-3 ml-auto mr-auto">
    <div class="card card-pricing bg-info"><div class="card-body ">
        <div class="icon">
            <i class="material-icons">wifi_tethering</i>
        </div>
        <h3 class="card-title">WiFi/HTML Front-End</h3>
        <p class="card-description">
            D9NX3 integrates an easy-to-use, WiFi and HTML Front-End. No software or internet connection required! D9NX3 fixtures work stand-alone out of the box.
        </p>
        <a href="/technology/smartpdu/frontend" class="btn btn-white btn-round">Learn More</a>
        </div>
    </div>
</div>
