<div class="pricing-6 section-pricing-6 section-image" id="pricing-6" style="">
            <div class="container features-6">
                      <img src="/static/img/path3.png" class="shape"/>
              <div class="row">
                <div class="col-md-4">
                <br/><br/><br/><br/><br/>
                  <h2 class="title">Impressive Specs to revolutionise your grow.</h2>
                  
                  <p class="description">Delta9 V4X-3100 delivers an impressive 3,200+&mu;Mol of growing power, precision engineered in the USA to deliver equally impressive power consumption, growing performance, flexibility and thermal management.</p>
                   <a href="javascript:;" class="btn btn-primary btn-round">
                                Full specs
                              </a>
                </div>
                <div class="col-md-7 ml-auto mr-auto">
                  <div class="tab-content tab-space">
                    <div class="tab-pane active" id="personal">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card card-pricing card-raised">
                            <div class="card-body">
                              <h4 class="category">Optical</h4>
                              <h3 class="card-title">
                                3,268<span class='small'>&mu;mol</span></h3>
                              <ul>
                              
                                <li>
                                  <b>1.25</b> Red:Blue Ratio</li>
                                <li>
                                  <b>8.66</b> DeepRed:FarRed Ratio</li>
                                <li>
                                  <b>1,208&mu;Mol</b> Blue  flux</li> 
                                <li>
                                  <b>1,359&mu;Mol</b> Deep Red flux</li> 
                                 <li>
                                  <b>300&mu;Mol</b>  Far Red  flux</li> 
                                 <li>
                                  <b>400&mu;Mol</b>  Green flux</li> 
                                <li>
                                
                                  <b>41%</b>WPE</li>
                                
                              </ul>
                             
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card card-pricing card-plain">
                            <div class="card-body">
                              <h6 class="category">Physical</h6>
                               <h3 class="card-title">
                                1,000<span class='small'>W</span></h3>
                              <ul>
                                <li>
                                  <b>25</b> Projects</li>
                                <li>
                                  <b>15GB</b> Storage</li>
                                <li>
                                  <b>Unlimited</b> users</li>
                                <li>
                                  <b>No time</b> tracking</li>
                              </ul>
                             
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="commercial">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card card-pricing card-raised">
                            <div class="card-body">
                              <h6 class="category">Standard</h6>
                              <h1 class="card-title">
                                <small>$</small>20</h1>
                              <ul>
                                <li>
                                  <b>5</b> Projects</li>
                                <li>
                                  <b>2GB</b> Storage</li>
                                <li>
                                  <b>Unlimited</b> users</li>
                                <li>
                                  <b>No time</b> tracking</li>
                              </ul>
                              <a href="javascript:;" class="btn btn-primary btn-round">
                                Buy Now!
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card card-pricing card-plain">
                            <div class="card-body">
                              <h6 class="category">Premium</h6>
                              <h1 class="card-title">
                                <small>$</small>60</h1>
                              <ul>
                                <li>
                                  <b>7</b> Projects</li>
                                <li>
                                  <b>3GB</b> Storage</li>
                                <li>
                                  <b>Unlimited</b> users</li>
                                <li>
                                  <b>No time</b> tracking</li>
                              </ul>
                              <a href="javascript:;" class="btn btn-primary btn-round">
                                Buy Now!
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
