<div class="features-6" id="even_ppfd">
    <img src="/static/img/path5.png" class="shape"/>
        <div class="container">
        <div class="section-space"></div>
        <div class="section-space"></div>
        <div class="col-md-6 ml-auto mr-auto text-center">
        <h1 class="title">Consistent, edge to edge PPFd.</h1>
        <p class="description">You can enjoy even PPFd cover throughout the entire square aperture, and easily position adjacent lamps for optimal efficiency!</p>
        <div class="section-space"></div>
        </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="info info-horizontal info-default">
                <div class="icon icon-warning">
                <i class="fas fa-vector-square"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">Growing Areas are Square: So is Delta9.</h3>
                  <p>So why are lamps round? Because they're designed around older technologies that were cylindrical! With Delta9, you get a square grow light area with precision aligned optics. All of the PPFd is efficiently spread out evenly across the entire grow zone. </p>
                </div>
              </div>
              <div class="info info-horizontal info-default">
                <div class="icon icon-info">
                  <i class="fas fa-balance-scale"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">Symmetry is beautiful.</h3>
                  <p>With the square light zone, easily adjust the light to fit any number of grow styles from close-up germination and blooming to high-bay sea of green and trellis systems. In adjustable height installations, Delta9 efficiently covers all applications throughout the lifecycle of the plants from germination through harvest. Without having to worry about round edges. </p>
                </div>
              </div>
              <div class="info info-horizontal info-default">
                <div class="icon icon-success">
                  <i class="fas fa-power-off"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">More Efficient means less power.</h3>
                  <p>Delta9 systems  replace up to 2kW of HPS or MPS lamps with a single 1kW unit with the better luminous efficiency and coverage at a lower W/m2, that needs no relamps or aggressive cooling.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-10">
               <img src="/static/photos/Vertical-Pinkhouse.jpg" alt="Pink Growhouse Vertical"" class="img-fluid">
            
            </div>
          </div>
        </div>
</div>
