<div class="wrapper">
<div class="cd-section" id="feature-grow">
<div class="section">
          <div class="container features-6">
          <img src="/static/img/path2.png" class="shape"/>
            <div class="row justify-content-between align-items-center">
              <div class="col-lg-5 mb-5 mb-lg-0 ">
                <h1 class="text-white font-weight-light"><i class="tim-icons icon-molecule-40"></i>&#160;By Growers, For Growers</h1>

                <p class="text-white mt-4">Delta9 is the most advanced and easy-to-use smart grow lighting system in the industry today. </p>
                <br/>
                <p class="text-white mt-4">Innovative features help you save time and maximise your yields consistently, while reducing your power and cooling bills. </p>
                <p class="text-white mt-4">Compared to traditional HPS / LPS bulbs, the d9 system can reduce your power usage by 60% and your cooling power requirements by 80%! </p>
                <p class="text-white mt-4">Our integrated real-time clock controls each lamp and its flowering/blooming profiles without the need for  external timers or switches. </p>
                <a href="/growers/#love_d9" class="btn btn-primary mt-4">Discover: Growers Love Delta9.</a>
              </div>
              <div class="col-lg-7">
                
                      <img class="img-fluid img-thumbnail" src="/static/photos/istockphoto-852204192-1024x1024.jpg" alt="Second slide">
            
          </div>
        </div>
        </div>
</div>
</div>
<div class="wrapper">
<br/>
<br/>
<br/>
<br/>
<br/>
