{%extends "bootstrap-base.html" %}

{%block Title%}Viridian Scientific · Delta9: Thermal Design{%endblock%}
{%block content %}
<link href="/static/css/spectrum.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/pages/spectrum.js"></script>
<div class="wrapper">
<div class="page-header page-header-small" style="z-index:100;">
      <img src="/static/img/path4.png" class="path shape">
      <div class="container">
        <h1 class="h1-seo">Plants love delta9's light!</h1>
      </div>
</div>
 <div class="container" style="position: relative; top: -450px; z-index:1000; max-width: 90%;">
<div class="testimonials-3">
    <div id="spectrumCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                        <li data-target="#spectrumCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#spectrumCarousel" data-slide-to="1"></li>
                        <li data-target="#spectrumCarousel" data-slide-to="2"></li>
                </ol>
                    <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                      <div class="info text-left bg-info">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          You can grow your plants under bright, summer-day "sunlight", day after day, year round under Delta9 systems:  give your plants only the light frequencies they need; while leaving out those that they don't. <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200903_162845.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                       </div>
                      </div>
                      </div>
                      
                    <div class="carousel-item">
                      <div class="info text-left bg-danger">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          From Seed to harvest; plants germinate quickly and grow in volume rapidly, owing to the high and even uMol flux - all of the grow tray exhibits perfect growth. <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200930_142627.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                        </div>

                    </div>  
                    
                    <div class="carousel-item">
                      <div class="info text-left bg-primary">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          Grow any plant species equally well under Delta9: All plants evolved under sunlight - and Delta9 delivers abundant "sunshine" consistently, each day, every day. <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200604_112752.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                        </div>

                    </div>  
                    
                 <!--    <div class="carousel-item">
                      <div class="info text-left bg-danger">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          Grow anything - all species and varieties of plants - better than ever! All plants evolved to love specific parts of sunlight - and delta9 gives them just that! <br/>
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200604_112752.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                      </div>
                      
                      </div>-->

                      </div>
                 
<!--                   </div> -->
                
                </div>
                
                </div>
                </div>

<div class="container">
        <h1 class="h1-seo">It begins with a well rounded spectrum...</h1>
        <h3 class="description">Delta9 targets four key frequencies of light to optimally support photosynthesis and plant growth.</h3>
      <section class="section section-lg">
      <section class="section">
        <img src="/static/img/path4.png" class="path">
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5 mt-lg-5">
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-trophy text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">1,359
                              </p><p>
                                </p><p class="card-category"> uMol Deep Red</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-coins text-white"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">300
                              </p><p>
                                </p><p class="card-category">uMol Far Red</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-gift-2 text-info"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">1,208
                              </p><p>
                                </p><p class="card-category">UMol Deep Blue</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-credit-card text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">400
                              </p><p>
                                </p><p class="card-category">uMol Green</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 card">
            <p class="card-title">Full Spectrum Chart</p>
              <div class="pl-md-5">
                <canvas id="chart_fullspectrum" width="100%" height="100%"></canvas>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
      
</div>

<div class="container">
        <h1 class="h1-seo">...coupled with our smart Lighting control system</h1>
        <h3 class="description">Our PDU is a clock-controlled smart wonder that lets you control the spectrum and simulate day/night cycles.</h3>
      <section class="section section-lg">
      <section class="section">
        <img src="/static/img/path4.png" class="path">
        <div class="container">
        <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2">
                    <ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#hday12" role="tablist" onclick="draw_12hProfile();" >
                          12h day
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#hday16" role="tablist"  onclick="draw_16hProfile();" >
                          16h day
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#flowerPower" role="tablist" onclick="draw_bloomProfile();" >
                          Flower Power
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#vegBoost" role="tablist"  onclick="draw_vegProfile();" >
                          Veg Booster
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#alwaysOn" role="tablist" onclick="draw_24hProfile();" >
                          Always On
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#custom" role="tablist"  onclick="draw_24hProfile();" >
                          Custom / Open Source
                        </a>
                      </li>
                    </ul>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="tab-content">
                      <div class="tab-pane active" id="hday12">
                        This profile simulates a summer day with twelve hours of irradiation.
                        <br/>
                        <br/> Delta9 starts every day by supplying reds and oranges; adding in greens and finally blues as it approaches midday.
                        <br/>
                        <br/> Towards the end of the cycle, first blues fade out, then greens, and finally reds and deep reds to simulate a natural sundown.
                        <br/>
                        <br/> Plants that grow under these conditions are subject to less stress and far more robust metabolic rates than plants grown under static light.
                      </div>
                      <div class="tab-pane" id="hday16">
                        This profile simulates a long summer day with sixteen hours of irradiation.
                        <br/>
                        <br/> Delta9 starts every day by supplying reds and oranges; adding in greens and finally blues as it approaches midday.
                        <br/>
                        <br/> Towards the end of the cycle, first blues fade out, then greens, and finally reds and deep reds to simulate a natural sundown.
                        <br/>
                        <br/> Plants that grow under these conditions are subject to less stress and far more robust metabolic rates than plants grown under static light.
                      </div>
                      <div class="tab-pane" id="flowerPower">
                        This profile stimulates flowering and blooming and the growth of thicker, smaller plants.
                        <br/>
                        <br/> This profile decreases the 12h cycle's blue output peak by 30%, simulating fall and early winter days.
                        <br/>
                        <br/> The decrease in blue light in relation to red light stimulates plants to grow flowers, fruits and vegetables, and to grow thicker.
                        <br/>
                        <br/> This cycle is extremely useful to induce flowering or the gestation of fruits and veggies.
                      </div>
                      <div class="tab-pane" id="vegBoost">
                        This profile simulates stimulates the growth of vegetation and plant mass, resulting in taller, skinnier plants.
                        <br/>
                        <br/> This profile decreases the 16h cycle's peak red output by 30%, simulating late spring and summer days.
                        <br/>
                        <br/> The decrease in red light in relation to the blue light, along with long days stimulates plants to grow vegetative mass - growing taller and larger.
                        <br/>
                        <br/> This cycle is particularily well suited to stimulate vegetative growth.
                      </div>
                      <div class="tab-pane" id="alwaysOn">
                        Sometimes a lot of light is needed.
                        <br/>
                        <br/> This profile sets the lamp to full output, all channels, 24/7.
                        <br/>
                        <br/> This profile is recommended when using the lamps with external timers or controllers.
                        <br/>
                        <br/> In this static mode, your plants still get the benefit of a summer-day-like spectrum of light.
                      </div>
                      <div class="tab-pane" id="custom">
                        It's all in the customisation!
                        <br/>
                        <br/> The delta9 PDU has 10 configuration slots in addition to the 4 standard profiles.
                        <br/>
                        <br/> Each slot can be configured in 15 minute increments per channel, using advantage of the built in 24/7 RTC clock.
                        <br/>
                        <br/> Or perhaps you need a specific interface to your super-custom arduino-powered grow data hub: The PDU's interfaces are open source.
                        <br/>
                        <br/> At launch, the firmware implements an http profile editor/selector. Future IOT and Software deployments are planned and will be delivered as software updates.
                      </div>
                    </div>
                  </div>
                  
                 <div class="col-md-5 card">
                 <p class="card-title">24h day per-hour output</p>
                 <div class="pl-md-5">
                 <canvas id="chart_profile" width="100%" height="100%"></canvas>
              </div>
                </div>
                </div>
                
              </div>
       
        
        </section>
        
        </section>
</div>

<div class="section blogs-4" id="blogs-4">
        <div class="container-fluid">
          <h2 class="title">Delta9 makes all plants very happy and productive plants!</h2>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/img-2020-06-11-135148.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Heirloom Tomatoes</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">Thick and heavy production of new nodes resulting in thick, healthy bunches of leaves.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/IMG_20200903_162853.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Cannabis Sativa (Hemp Type)</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">The best way of germinating new clones. Healthy and happy young plants.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/img_2020-12-05_15-06-17.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Jalape&ntilde;o Peppers</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">Vibrant, large flowers growing their fruit after being hand pollenated. </h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/img_2020-12-05_15-06-37.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Bell Peppers</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">A large, juicy and well flavoured  fruit growing from our miniature potted bell peppers</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

<script type="text/javascript" src="/static/js/plugins/chartjs.min.js"></script>
<script type="text/javascript" src="/static/js/pages/spectrum.js"></script>
{%endblock%}
