<div class="testimonials-3" id="self_install">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title">The ultimate self-installation.</h2>
                </div>
              </div>
              <div class="row">
                <div id="carousel-testimonials3" class="carousel slide carousel-team">
                
                    <div class="carousel-item active">
                      <div class="info text-left bg-danger">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          Delta9 systems can be hung with any number of adjustable height or fixed suspenders including chains and stainless steel cable.<br/> They ship with a standard 120V-240V C13/14 Plug and are 100% self-sufficient: They need no timers or controllers for spectrum control.<br/>Hoist them, plug them in, and grow better.
                        </p>
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background" style="background-image: url('/static/img/d9-BigGrow/d9-BigGrow-BGRF.png')"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/pages/self-installation/" target="_blank" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         
