<div class="features features-5">
        <div class="container">
          <div class="row align-items-center">
           
            <div class="col-lg-6 mt-md-5">
              <h6 class="category badge badge-pill bg-primary">This couldn't be any cooler:</h6>
              <h1 class="title">It's all in the controls!</h1>
              <p class="description">Each d9 system leverages our unique PDU design to deliver unparalleled convenience, customisation and intelligence to the grow lamp market.</p>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <h4 class="info-title">Real time clock (with battery).</h4>
                    <p class="description">The D9 PDU always knows what time it is - and what part of the cycle it should be executing. It will always deliver the correct output for any given time of the day, even after a power loss.</p>
                  </div>
                  <div class="info">
                    <h4 class="info-title">Self-contained and controlled.</h4>
                    <p class="description">Each PDU holds the default spectrum profiles plus 10 slots that each grower can customise. Select which one is executed by the simple press of a button.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <h4 class="info-title">You only need outlets.</h4>
                    <p class="description">d9 systems only need to be plugged into normal wall power. There is no need for external switches, dimmers, or timers or complex splice installations.</p>
                  </div>
                  <div class="info">
                    <h4 class="info-title">Open Source IOT Ready.</h4>
                    <p class="description">Each d9 is equipped with WiFi 802.11, Bluetooth 4.2 and 3.3V serial. Future firmware upgrades will enable IOT and other functionality, while the communications and control APIs to the d9 system are open source.</p>
                  </div>
                </div>
                <a class="btn btn-primary btn-link ml-4" href="javascript:;">
                  Explore the D9 PDU Design <i class="tim-icons icon-double-right"></i>
                </a>
              </div>
            </div>
             <div class="col-lg-6">
              <div class="featured-image">
                <img src="assets/img/pawel-nolbert.jpg" alt="" width="500" height="600">
              </div>
            </div>
          </div>
        </div>
      </div>
