<div class="testimonials-3" id="grow_anything">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title">Produce Anything, better.</h2>
                </div>
              </div>
              <div class="row">
                <div id="carousel-testimonials3" class="carousel slide carousel-team">
                
                    <div class="carousel-item active">
                      <div class="info text-left bg-info">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          Any plant species will thrive under the conditions that Delta9 creates. Happier plants grow faster, and produce hotter peppers, thicker resins, brighter flowers... In short. When your plants are grown under light that closely resembles sunlight; they grow better. And that makes for happier growers.
                        </p>
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background" style="background-image: url('/static/img/d9-BigGrow/d9-BigGrow-BGRF.png')"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
