<div id="cards" class="section section-cards">
        <div class="cards">
          <div class="container">
            <div class="title">
              <h3 class="title">Here is a little story about us - humanity:</h3>
              <h3>
                <small>When we discovered agriculture; we invented engineering. </small>
              </h3>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card" data-background-color="red">
                  <div class="card-body">
                    <h6 class="category-social">
                      <i class="fa fa-fire"></i> It all started 50,000 years ago..
                    </h6>
                    <p class="card-description">
                      When we discovered agriculture, we began our journey as thinking, creative beings that modified the environment to suit their needs.
                    </p>
                    <br/>
                     <p class="card-description">
                      Agriculture was the major discovery that enabled our minds to really take off; free from the hunter-gatherer lifestyle in the steppes. <br/><br/>
                      </p>
                      <p class="card-description">
                      As we gained the ability to store collective knowledge and developed language, maths and writing to manage our growing crops and peoples, we also applied this knowledge on becoming great scientists and engineers that understood the natural world.
                      <br/><br/>
                    </p>
                    <div class="card-footer">
                     <!-- <div class="author">
                        <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                        <span>Susan B. Anthony</span>
                      </div>
                      <div class="stats stats-right">
                        <i class="tim-icons icon-heart-2"></i> 10.4K ·
                        <i class="tim-icons icon-single-copy-04"></i> 425
                      </div>-->
                    </div>
                  </div>
                </div>
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img rounded" src="/static/photos/Vertical_Farm.jpg">
                  </div>
                  <div class="card-body">
                    <h6 class="category text-warning">
                      <i class="tim-icons icon-wallet-43"></i> It's all about where it's grown
                    </h6>
                    <h5 class="card-title">
                      <a href="javascript:;">Vertical Farming and Local Growing are game-changing technologies</a>
                    </h5>
                    <p class="card-description">
                      With Vertical Farming and local "grow boxes" - we are re-defining where we grow, and more importantly, how and what we grow it.
                    </p>
                    <p class="card-description">
                      As Urban vertical farming becomes more widespread, it will solve many of our environmental and societal challenges - the environmentally ravishing "old way" of growing food and the urban food desert and unemployment problems can be solved in a new virtous cycle.
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h6 class="category text-danger">
                      <i class="tim-icons icon-sound-wave"></i> We're at a unique time in history.
                    </h6>
                    <h5 class="card-title">
                      <a href="javascript:;">We gotta engineer our way out of a pinch.</a>
                    </h5>
                    <p class="card-description">
                      We're experiencing a unique period: to be able to mantain our planet's habitability, and to solve our long standing social issues, we have to apply all of our engineering skills and that long-fought-for knowledge to fix the fundamental problems that threaten our progress out into the stars.
                    </p>
                   
                    <div class="card-footer">
                      <!--<div class="author">
                        <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised">
                        <span>Lord Alex</span>
                      </div>
                      <div class="stats stats-right">
                        <i class="tim-icons icon-heart-2"></i> 342 ·
                        <i class="tim-icons icon-single-copy-04"></i> 45
                      </div>-->
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card bg-default">
                  <div class="card-body">
                    <h6 class="category-social">
                      <i class="tim-icons icon-app"></i> Ultimately;
                    </h6>
                    <h4 class="card-title">
                      <a href="javascript:;">Technology and Engineering are the story of agriculture.</a>
                    </h4>
                    <p class="card-description">
                      Rapid advances in technological and scientific development lead to an ever increasing food output from our crops, resulting in a virtous cycle in which as our populations grew; so did our knowledge and power over the environment.
                    </p>
                    <p class="card-description">
                      Our success as we mastered natural pesticides and fertilisers helped us grow in population. As we discovered - and mastered - petrochemestry, we created pesticides, fertilisers and then artificial lighting to grow our crops.
                    </p>
                    <p class="card-description">
                      
                    </p>
                  </div>
                </div>
                <div class="card card-blog">
                  <div class="card-image">
                    <a href="javascript:;">
                      <img class="img rounded" src="/static/photos/closeup_buds_bloomMode.jpg">
                    </a>
                  </div>
                  <div class="card-body">
                    <h6 class="category text-primary">High times are here!</h6>
                    <h5 class="card-title">
                      The ongoing legaisation of Weed and Cannabis products continues.
                    </h5>
                    <p class="card-description">
                      It now is unstoppable. A trend that started in the late 2010s, has now proven itself to have momentum. All jurisdictions, worldwide, that legalise cannabis experience a boon in income, a reduction in crime and drug abuse.
                    </p>
                    <p class="card-description">
                       Both Vertical Urban farming, and THC/CBD legalisation are one-of-a-kind opportunities to include historically-oppressed minorities in an even larger virtous cycle of urban renewal and regeneration in a sustainble way.
                    </p>
                    <div class="card-footer">
                  <!--    <div class="author">
                        <img src="assets/img/ryan.jpg" alt="..." class="avatar img-raised">
                        <span>Mike John</span>
                      </div>
                      <div class="stats stats-right">
                        <i class="tim-icons icon-watch-time"></i> 5 min read
                      </div>-->
                    </div>
                  </div>
                </div>
                <div class="card" data-background-color="blue">
                  <div class="card-body">
                    <h6 class="category-social">
                      <i class="fab fa-twitter"></i> Problems: Meet solutions.
                    </h6>
                     <p class="card-description">
                      The technologies to solve the basic problems of our relationship with our food and environment are here, today, and can be engineered into solutions that perhaps aren't as glamorous as electric cars and wind turbines - these solutions can, and will have profoundly beneficial effects on both our planet, and our social environment for years to come, if they're properly engineered and deployed quickly enough - and they can be.
                    </p>
                   <!-- <div class="card-footer">
                      <div class="author">
                        <img src="assets/img/mike.jpg" alt="..." class="avatar img-raised">
                        <span>Tania Andrew</span>
                      </div>
                      <div class="stats stats-right">
                        <i class="tim-icons icon-heart-2"></i> 2.4K ·
                        <i class="tim-icons icon-single-copy-04"></i> 45
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-lg-4">
                <div class="card card-blog">
                  <div class="card-image">
                    <a href="javascript:;">
                      <img class="img rounded" src="/static/img/engineering-farming-0.jpg">
                    </a>
                  </div>
                  <div class="card-body text-center">
                    <h6 class="category text-danger">
                      <i class="tim-icons icon-sound-wave"></i>  some assembly required:
                    </h6>
                    <h5 class="card-title">
                      To survive, we must re-think our relationship with our environment.
                    </h5>
                    <p class="card-description">
                      Ultimately, in the late decades of the 2010s going into the 2020s, the ecological impact of our activities hit a breaking point. Rising environmental devastation and resource scarcity along with a rising population are making us re-think how and where we grow our food.
                    </p>
                    <p class="card-description">
                      What we eat, and how and where its grown are fundamental changes that we can all make, today - that will fundamentally help us fight climate change. Far more important than switching out to driving an electric car or adding solar panels to your house; eating locally grown, sustainbly grown food is the best thing any and all of us can do for our environment.
                    </p>
                    <div class="card-footer">
<!--                       <a href="javascript:;" class="btn btn-primary">Read Article</a> -->
                    </div>
                  </div>
                </div>
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img rounded" src="/static/img/sustainable-devel.jpg">
                  </div>
                  <div class="card-body">
                    <h6 class="category text-info">
<!--                     Applying knowledge and passion to solve real problems. -->
                    </h6>
                    <h5 class="card-title">
                      <a href="javascript:;">Coming back to Viridian...</a>
                    </h5>
                     <p class="card-description">
                      That's where we come in. We're a small team of experienced, dedicated and passionate engineers and product managers from the lighting and horticultural industries with a vision to apply currently-mature technologies in the <em>right</em> way to solve one big problem all indoor growing technologies are still hampered by...
                    </p>
                   <!-- <div class="card-footer">
                      <div class="stats stats-right">
                        <i class="tim-icons icon-heart-2"></i> 342 ·
                        <i class="tim-icons icon-single-copy-04"></i> 45
                      </div>
                      <div class="author">
                        <img src="assets/img/her.png" alt="..." class="avatar img-raised">
                        <span>Denise Coldewey</span>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
     
      </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
