<div class="wrapper">
<div class="page-header page-header-small" style="z-index:100;">
      <img src="/static/img/path4.png" class="path shape">
      <br/><br/><br/><br/><br/><br/>
      
      <div class="container">
      <span class="badge badge-primary badge-pill">A small idea:</span>
        <h1 class="h1-seo">Let's Redefine what indoor grow lights even are!</h1>
        <br/><br/><br/>
      </div>
</div>
 <div class="container" style="position: relative; top: -450px; z-index:1000; max-width: 90%;">
<div class="testimonials-3">
    <div id="spectrumCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
<!--                         <li data-target="#spectrumCarousel" data-slide-to="0" class="active"></li> -->
                    <!--    <li data-target="#spectrumCarousel" data-slide-to="1"></li>
                        <li data-target="#spectrumCarousel" data-slide-to="2"></li>-->
                </ol>
                    <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                      <div class="info text-left bg-info">
                        <div class="icon icon-white">
                          <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="description text-white">
                          To grow plants indoors - we need to substitute sunlight. Current bulb and LED technologies are plagued with problems and shortcomings. They certainly don't outperform the sun and with bulbs, you generate a lot of heat and downtime. <br/>
                          That is, until Delta9 came along.
                        
                        </p>
                        
                      </div> 
                      <div class="card card-blog card-background" data-animation="true">
                        <div class="full-background spectrum-card" style="background-image: url('/static/photos/IMG_20200903_162845.jpg'); background-repeat: no-repeat;    background-size: contain;    background-position-x: center;    background-position-y: center;"></div>
                        <div class="card-body">
                          <div class="content-bottom ml-auto">
                            <a href="/plants/grow-better/" class="btn btn-round btn-simple btn-neutral">Read more</a>
                          </div>
                       </div>
                      </div>
                      </div>
              
                      </div>
                 
<!--                   </div> -->
                
                </div>
                
                </div>
                </div>

<div class="container" style="max-width: 90%; position: relative; top: -200px;">
<!-- <div class="row align-items-center mt-md-5"> -->
             <div class="row">
             <div class="col lg-6 ml-auto text-center card card-profile" style=" background-color: rgba(225,78,202,0.7);float: left;max-height: 200px;top: 25em;left: 22em;z-index: 10000; padding-bottom: 0.5em;">
             <div class="card-body">
                    <hr class="line-success">
                    <h3 class="job-title">Delta9 - The Grow-Lamp: Re-engineered.</h3>
                     <p class="job-title">
                          A two-year quest to re-imagine, and re-engineer grow lamp systems into the ultimate solar analogue.
                          <br/><br/>
                        </p>
                        <br/>
                  </div>
             </div>
              <div class="col-lg-9 ml-auto text-center">
                <div class="phone-container">
                  <img src="/static/img/d9 assembly shot.png" class="phone">
                </div>
<!--                 <img src="/static/img/patrat.png" class="shape"> -->
<!--                 <img src="/static/img/cercuri.png" class="shape2"> -->
<!--                 <img src="/static/img/waves.png" class="shape3"> -->
              </div>                
</div>
</div>

