<div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center">
        <div class="row">
        
            <div class="col-lg-5 col-md-5">
            <h1 class="text-white">The Growing revolution</h1>
            <p class="text-white mb-3">Delta9 will forever change indoor horticulture: it is controllable, adjustable, year-round 'sunlight' for your plants.</p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline">Discover Delta9</p>
              <a href="#" class="btn btn-success btn-link btn-sm" onclick="$('html, body').animate({scrollTop: $('#better').offset().top }, 1000);"><i class="tim-icons icon-minimal-right"></i></a>
            </div>
            <div class="btn-wrapper">
              <div class="button-container">
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-twitter"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7">
            <img src="/static/img/d9-BigGrow/d9-BigGrow-BGRF.png" alt="Circle image" class="img-fluid">
          </div>
         </div>
        </div>
      </div>
</div>
