<div class="features features-6" id="increase_consistency">
        <div class="container">
          <div class="row align-items-center">
           
            

              <div class="row">
              <div class="col-lg-12">
              <h6 class="category badge">Consistent equipment; consistent results.</h6>
              <h1 class="title">Dependable, Consistent Results.</h1>              
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4">
                  <div class="card bg-success">
                    <h3 class="info-title text-muted">Less Glare, More Green.</h3>
                    <p class="description text-muted">Your plants only grow when light shines on them, not on your eyes: Delta9's optics focus the light accurately on to their leaves for maximum efficiency.</p>
                  </div>
                  
                  </div>
                  
                  <div class="col-lg-3 col-md-4">
                  <div class="card bg-danger">
                    <h3 class="info-title">Square-shaped light</h3>
                    <p class="description">That match the size of growing mats and trays. From close-up blooming to high-bay sea of green applications, you can always fit it perfectly under a Delta9.</p>
                  </div>
                  
                  </div>
                  
                   <div class="col-lg-3 col-md-4">
                  <div class="card bg-info">
                    <h3 class="info-title">Even Light distribution.</h3>
                    <p class="description">Your plants will recieve vastly more consistent light levels across the entire lightbox; in comparison to round bulb fixtures, that are strongest only in the center.</p>
                  </div>
                  
                  </div>
                  
                  <div class="col-lg-3 col-md-4">
                  <div class="card bg-warning">
                    <h3 class="info-title">Long-term stability.</h3>
                    <p class="description">You can rely on the long-term stability of Delta9. The light output will vary little during its lifetime, following a predictable pattern; and without needing bulb replacements.</p>
                  </div>
                  
                  </div>
                  </div>
                </div>
                </div>

                <br/>
                <a class="btn btn-primary btn-link ml-4" href="javascript:;">
                  Explore: Delta9's optical design <i class="tim-icons icon-double-right"></i>
                </a>
              </div>
           
          </div>
        </div>
