{%extends "card-template.html" %}
{%block card-id %}control{% endblock %}
{%block card-title %} Total Control of growth Conditions. {% endblock %}
{%block inside-card %} 
    <p class="lead">
    With individual frequency control, you customise which types of light shine on your plants, at what intensity, for how many hours each day. You can create a perfect day for your plants, every day. Not only does this make plants grow better; it also enables you to seamlessly control vegetative and flowering states for all plant species.
    </p>
    <h3>[Re-]create perfect growing conditions, each time, every time. </h3>
    <a href="#" class="btn btn-lg btn-success" onclick="$('html, body').animate({scrollTop: $('#better').offset().top }, 1000);">Learn more</a> 
{% endblock %}
