        <div class="container" id="no_relamping">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <span class="badge badge-primary badge-pill">In a nutshell:</span>
              <h1 class="title">Eliminate Re-lamping forever!</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-primary">
                  <img class="bg-blob" src="/static/img/primary.png">
                 <i class="fas fa-hourglass"></i>
                </div>
                <h4 class="info-title">Long Lifespan</h4>
                <p class="description">Each Delta9 device is guaranteed for 50,000 hours at full power: That's 5.7 <i>years</i> before its time to upgrade your Lighting solution to the the next generation delta9 System!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-success">
                  <img class="bg-blob" src="/static/img/success.png">
                 <i class="fas fa-retweet"></i>
                </div>
                <h4 class="info-title">Veg/Bloom Switching</h4>
                <p class="description">You can set each Delta9 fixture to either veg, bloom, or custom profiles: Change the light over your plants without having to switch lightbulbs!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-warning">
                  <img class="bg-blob" src="/static/img/warning.png">
                 <i class="fas fa-broom"></i>
                </div>
                <h4 class="info-title">Reduce the number of lights</h4>
                <p class="description">You require less fixtures per grow area of the square-shaped delta9 than the round or oblong shaped bulb lights </p>
              </div>
            </div>
          </div>
        </div>
      
