{%extends "bootstrap-base.html" %}

{%block Title%}Viridian Scientific · Delta9: Thermal Design{%endblock%}
{%block content %}
<div class="wrapper">
<div class="page-header page-header-small">
      <img src="/static/img/shape-s.png" class="path shape">
      <div class="container">
        <h1 class="h1-seo">Thermal Stability by design.</h1>
        <h3>Delta9 is unique: We have simulated and precision-designed a highly performant heatsink to guarantee operation at up to 50&deg;C/120&deg;F Ambient Temperatures.</h3>    
      </div>
</div>
<div class="container" style="max-width: 100%; position: relative; top: -200px;">
<div class="row">
    <div class="col-lg-9">
    <img class="d-block w-100" id="BigGrow-Thermal" src="/static/img/d9-Thermals.png" alt="d9 Thermals">
    </div>
    
    <div class="col-lg-1">
    <img class="d-block" id="BigGrow-Thermal" src="/static/img/d9-thermal-scale.png" alt="d9 Thermal Scale" style="position: relative;
top: 60px; left: -60px;">
    </div>
</div>
<br/><br/><br/>
<h3>A reliable 4 120x120mm fan set keeps the air flow consistent and smooth throughout the entire body of the luminaire.</h3> 
<br/><br/><br/>
<div class="row">

<div class="col-lg-10">
    <img class="d-block w-100" id="BigGrow-Thermal" src="/static/img/d9-V4X-3100-Render.png" alt="d9 Thermals">
</div>
</div>

<h3>Cooler LEDs not only live longer and produce more light - they help you reduce your cooling and energy costs: Less heat produced = Less heat that needs to be removed.</h3> 
<br/><br/><br/>
</div>
</div>
{%endblock%}
