

<div class="container">
        <h1 class="h1-seo">Here are the key innovations which we have built into Delta9.</h1>
        <h3 class="description">Each one carefully reasearched and thought over to bring actual value and useful features to growers.</h3>
      <section class="section section-lg">
      <section class="section">
        <img src="/static/img/path4.png" class="path">
        <div class="container">
        <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2">
                    <ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#hday12" role="tablist" onclick="draw_12hProfile();" >
                          Light Spectrum
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#hday16" role="tablist"  onclick="draw_16hProfile();" >
                          Electronic Design
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#flowerPower" role="tablist" onclick="draw_bloomProfile();" >
                          Optical Design
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#vegBoost" role="tablist"  onclick="draw_vegProfile();" >
                          Thermal Design
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#alwaysOn" role="tablist" onclick="draw_24hProfile();" >
                          Simple Usage
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#custom" role="tablist"  onclick="draw_24hProfile();" >
                          Future-Proof Connectivity
                        </a>
                      </li>
                    </ul>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="tab-content">
                      <div class="tab-pane active" id="hday12">
                        Not all grow lamps are created the same. What our eyes might percieve as great light isn't necessarily true for plants.
                        <br/>
                        <br/> Delta9's unique spectrum provides only the light that plants need. We don't use filters or lenses - simply we just put out just the right frequencies.
                        <br/>
                        <br/> Our combination of LEDs delivers all of the luminous flux of our devices in just the right frequencies to not only stimulate - but control - plant growth.
                        <br/>
                        <br/> Each led frequency group is individually controllable. You can simulate normal summer days, shorter fall days, target specific frequencies to stimulate vegetation or blooming, all with a single fixture. 
                      </div>
                      <div class="tab-pane" id="hday16">
                        It's all in the electronics. If you don't have the means of controlling the output - you don't have a grow lamp.
                        <br/>
                        <br/> Our PDU design is absolutely disruptive. It enables us to use a standard, medical-grade safety and reliability rated PSU into a LED growing powerhouse.
                        <br/>
                        <br/> The PDU is a smart, WiFi and Bluetooth equipped device that enables you to control each LED channel's output and timer individually.
                        <br/>
                        <br/> The shipping firmware enables an html interface to assign profiles and customise them. Future updates will enable further functionality. 
                        <br/> The Communications interface is open source.
                      </div>
                      <div class="tab-pane" id="flowerPower">
                        A photon is a terrible thing to waste. After all the trouble we go through to generate them...
                        <br/>
                        <br/> Precise optical design enables D9 lamps to deliver all of the flux in the right direction - foreward and do so smoothly and with an even PPFd distribution.
                        <br/>
                        <br/> Our design is rectangular - designed to meet the shape of grow mats and mediums of all sizes and to replace two full 1kW HPS / MPS systems with a single 1kW design.
                        <br/>
                        <br/> The square shaped light output also makes tiling and multi-lamping a breeze: PPF outputs line up evenly when covering wide areas - and using less lamps than using circular devices.
                      </div>
                      <div class="tab-pane" id="vegBoost">
                        It's all about reducing the heat.
                        <br/>
                        <br/> One thing that all growers must deal with is: Heat production. Heat causes damage to the plants, and increases the AC requirements of the growing room.
                        <br/>
                        <br/> This is the heart of the lamp: a simulation-optimised heatsink, which we painstainkingly designed over many iterations to arrive at the optimal shape.
                        <br/>
                        <br/> You will never worry about heat being a pain again: Lamps can be hung mere centimeters from your plants without damage.
                        <br/>
                        <br/> A reduced heat mass will help you save on AC costs - and your LED fixtures will live many years in comparison to bulbs that burn away producing lots of wasted heat.
                        <br/> 
                        <br/> 
                        
                      </div>
                      <div class="tab-pane" id="alwaysOn">
                        Hard enough having to grow your crops - why worry about electrics?
                        <br/>
                        <br/> Growing is a full-time job. Taking care of your plants and making sure they grow huge and happy should be your first concern. 
                        <br/>
                        <br/> The last thing you need to want to wory about are electrical timers, mechanical on/off timers and the unreliability of such devices.
                        <br/>
                        <br/> We've built a battery-powered clock into every single Delta9. All you gotta do is plug them into a normal C13/C14 cable and they're good to go:
                        <br/>
                        <br/> Any lamp you add to your grow will instantly know what time it is - select the profile and you're set to grow!
                        <br/> For new room buildouts, there is no need to wire for any timing controls - just outlet plugs.
                      </div>
                      <div class="tab-pane" id="custom">
                        Equipped for the IOT future.
                        <br/>
                        <br/> Grow lamps are just the start. In our vision; they will provide the backbone for data-driven smart agriculture.
                        <br/>
                        <br/> All lamps are equipped with WiFi, Bluetooth and Serial! Future firmware upgrades will enable advanced sensors and Mesh networks built on this backbone.
                        <br/>
                        <br/> The firmware and communications interfaces that control the PDUs are open source:
                        <br/>
                        <br/> Use our profiles, create your own. Create your own wireless mesh firmware! Or just set it to "always on" and use a mechanical timer.
                        <br/>
                        <br/> Whichever way you choose to go - you will always be in control.
                            
                      </div>
                    </div>
                  </div>
                  
                 <div class="col-md-5 card">
                 <p class="card-title">24h day per-hour output</p>
                 <div class="pl-md-5">
                 <canvas id="chart_profile" width="100%" height="100%"></canvas>
              </div>
                </div>
                </div>
                
              </div>
        
        
        </section>
        
        </section>
</div>

<div class="section blogs-4" id="blogs-4">
        <div class="container-fluid">
          <h2 class="title">Delta9 makes all plants very happy and productive!</h2>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/img-2020-06-11-135148.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Heirloom Tomatoes</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">Thick and heavy production of new nodes resulting in thick, healthy bunches of leaves.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/IMG_20200903_162853.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Cannabis Sativa (Hemp Type)</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">The best way of germinating new clones. Healthy and happy young plants.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/img_2020-12-05_15-06-17.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Jalape&ntilde;o Peppers</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">Vibrant, large flowers growing their fruit after being hand pollenated. </h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('/static/photos/img_2020-12-05_15-06-37.jpg')"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Bell Peppers</h6>
                    <a href="javascript:;">
                      <h3 class="card-title">A large, juicy and well flavoured  fruit growing from our miniature potted bell peppers</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
