{%extends "bootstrap-base.html" %}

{%block Title%}Viridian Scientific · Delta9: Revolutionary light - revolutionary Engineering{%endblock%}
{%block content %}
<!-- <div class="wrapper"> -->

<div class="page-headers" style="width: 100%;">
<br/>
<br/>
{%include "presentation-technology-index.html" %}
</div>

<script type="text/javascript" src="/static/js/pages/growers.js"></script>
<div class="cd-section" id="features">
{%include "presentation-growers-betteryields.html" %}
{%include "presentation-growers-consistentperformance.html" %}
{%include "presentation-growers-switching.html" %}
{%include "presentation-growers-relamping.html" %}
{%include "presentation-growers-grow-more-green.html" %}
{%include "presentation-growers-produce-anything.html" %}
{%include "presentation-growers-even-ppfd.html" %}
{%include "presentation-growers-reduce-inventory.html" %}
{%include "presentation-growers-self-install.html" %}
{%include "presentation-growers-setit-and-forgetit.html" %}
</div>
<!-- </div> -->
{%endblock%}
