<div class="wrapper">
        <div class="container">
        <div class="section-space"></div>
        <div class="section-space"></div>
        <div class="col-md-6 ml-auto mr-auto text-center">
        <h1 class="title">Precision engineering</h1>
        <p class="description">d9's is designed, engineered and integrated in the USA. Our procedural analysis methodology and scientific-based design yields products that are far above the rest of the industry.</p>
        <br/><br/><br/>
        <div class="section-space"></div>
        <div class="section-space"></div>
        <div class="section-space"></div>
        </div>
<div class="cd-section" id="feature-grow">
<div class="section">
          <div class="container">
          
            <div class="row justify-content-between align-items-center">
            
              <div class="col-lg-5 mb-5 mb-lg-0 ">
                <h1 class="text-white font-weight-light"><i class="tim-icons icon-thermometer"></i>&#160;Thermally stable by design.</h1>

                <p class="text-white mt-4">
                delta9 has been precision engineered with thermal performance in mind. Our unique, numerical-analysis optimised heatsink design, combined with the careful placement of fans and LED light engines results in a stable, reliable system that will perform adequately - without any loss of performance or lifespan in environments at up to 50 Degrees C ambient temperature. 
                </p>
                
                 <p class="text-white mt-4">
               This approach to thermal design and modelling ensures that every delta9 device you purchase and deploy for your grow, will peform to the same exacting standards and durability requirements. <br/>Eliminate the need for constant re-lamping, re-bulbing, and the expensive maintenance and downtime cycles associated with these grueling tasks - by deploying delta9 today.
                </p>
                <a href="/pages/thermals" class="btn btn-lg btn-danger" >Learn More</a> 
              </div>
              
               <div class="col-lg-7">
                 <img class="d-block w-100" id="BigGrow-Thermal" src="/static/img/d9-Thermals.png" alt="d9 Thermals">
              </div>
            
        </div>
        </div>
</div>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
