{%extends "bootstrap-base.html" %}

{%block Title%}Viridian Scientific · Delta9: Revolutionary light ·  Revolutionary Engineering{%endblock%}
{%block content %}
<!-- <div class="wrapper"> -->

<div class="page-headers" style="width: 100%;">
<br/>
<br/>
{%include "presentation-engineering-index.html" %}
</div>

<script type="text/javascript" src="/static/js/pages/growers.js"></script>
<div class="cd-section" id="features">
{%include "presentation-engineering-backstory.html" %}
{%include "presentation-engineering-idea.html" %}
{%include "presentation-engineering-innovations.html" %}
</div>
<!-- </div> -->
{%endblock%}
