<div class="features-6">
    <img src="/static/img/path5.png" class="shape"/>
        <div class="container">
        <div class="section-space"></div>
        <div class="section-space"></div>
        <div class="col-md-6 ml-auto mr-auto text-center">
        <h1 class="title">Unique, advanced electronic design.</h1>
        <p class="description">d9's highly integrated Power Delivery Unit (PDU) is a revolution in power electronics on its own.</p>
        <div class="section-space"></div>
        </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="info info-horizontal info-default">
                <div class="icon icon-warning">
                  <i class="fas fa-bolt"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">1,000W: Durable, Reliable and Safe.</h3>
                  <p>Our power architecture delivers up to 1,000W in a minimal footprint. Powered by a medical-grade, long-life and high density medical power supply, Delta9 relies on ceramic capacitors and automotive electronics for the ultimate power density and durability. </p>
                </div>
              </div>
              <div class="info info-horizontal info-default">
                <div class="icon icon-info">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">Individual LED Control.</h3>
                  <p>Our unique PDU architecture lets you control every LED channel individually. Each channel can be controlled in 1% increments, and 15-minute slots: In short, you can re-create perfect sunrises, middays and sunset profiles which improves yields and reduces plant stress. </p>
                </div>
              </div>
              <div class="info info-horizontal info-default">
                <div class="icon icon-success">
                 <i class="far fa-clock"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">Built-in Clock and Timer.</h3>
                  <p>Every Delta9 has an integrated 24-hour clock with battery backup. Using delta9 needs no additional timers or external switches. Each lamp is self-controlled with a user-selectable (and configurable) profie.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-10">
               <img src="/static/img/d9-SMRTPDU-Back.png" alt="Delta9 SmartPDU Back" class="img-fluid">
            
            </div>
          </div>
        </div>
</div>

<div class="features-7">
        <div class="container">
        
          <div class="row align-items-center">
              <div class="col-lg-6 col-10">
               <img src="/static/img/d9-SMRTPDU-Front.png" alt="Delta9 SmartPDU Front" class="img-fluid">
            
            </div>
            <div class="col-lg-6">
            
              <div class="info info-horizontal info-default">
                <div class="icon icon-warning">
                  <i class="fas fa-wifi"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">WiFi/Bluetooth 4.2 On-board.</h3>
                  <p>Delta9 PDUs are equipped with the industry standard ESP32 WiFi+Bluetooth module, allowing wireless remote control, management, and IOT possibilities. The basic firmware enables profile-configuration via a simple html webserver. Further features will become enabled by future software upgrades.</p>
                </div>
              </div>
              <div class="info info-horizontal info-default">
                <div class="icon icon-info">
                  <i class="fas fa-link"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">RS-232 Serial Communications.</h3>
                  <p>A simple 3.3V RS-232 compliant interface is included for serial communications with other Microcontrollers and control systems. The RS-232 interface is separate of the WiFi/BT module and it enables direct control of PDU features by means of a simple, 9600 baud interface.  </p>
                </div>
              </div>
              <div class="info info-horizontal info-default">
                <div class="icon icon-success">
                  <i class="fab fa-linux"></i>
                </div>
                <div class="description">
                  <h3 class="info-title">Open-Source Interfaces.</h3>
                  <p>The Delta9 PDU control and communications interface specification is open source, enabling creative users to deploy their own control communications strategy (and or) hardware to further enhance their lamps with their personal touch.</p>
                </div>
              </div>
            </div>
          
          </div>
        </div>
</div>
