<div class="wrapper">
<div class="cd-section features-2" id="feature-spectrum">
<div class="section">
<div class="container">
                <div class="section-space"></div>
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h1 class="title">Better spectrum: better results!</h1>
                  <p class="description">Forget about <em>full spectrum</em> lighting: It is designed for our eyes. <br/>delta9's high power four-frequency spectrum is specifically tailored to all types of plant life; vastly outpeforming white full spectrum light.</p>
                  <div class="section-space"></div>
                </div>
              
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-8 mr-auto text-left">
              <h1 class="title">Plants love this light!</h1>
              <p class="description">Our unique spectrum system delivers up to 3,268&mu;Mol of light - only in the frequencies that plants need; while not producing the ones they don't.</p>
              <a class="btn btn-info btn-simple" href="/page/spectrum">
                Learn more <i class="tim-icons icon-alert-circle-exc"></i>
              </a>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-info">
                    <img src="/static/img/d9-BigGrow/d9-BigGrow-B---.png" alt="Delta9 BigGrow B" class="img-fluid">
                    <h4 class="info-title">Blue (400~500nm): 1,208&mu;Mol</h4>
                    <p class="description">Blue Light is the bulwark of flux that plants use for photosynthesis and growth. More Blue promotes vegtative growth.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-danger info-raised">
                   <img src="/static/img/d9-BigGrow/d9-BigGrow---R-.png" alt="Delta9 BigGrow R" class="img-fluid">
                    <h4 class="info-title">DeepRed (600~700nm): 1,359&mu;Mol</h4>
                    <p class="description">Deep Red Light is other of the bulk types of flux used by plants to drive photosynthesis and growth. More Red promotes flowering.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-default">
                
                    <img src="/static/img/d9-BigGrow/d9-BigGrow-BGRF.png" alt="Delta9 BigGrow BGRF" class="img-fluid">
                    <h4 class="info-title">Total Flux: 3,268&mu;Mol</h4>
                    <p class="description">At 100% Power, All Channels Enabled, d9 Delivers 3,268&mu;Mol of pure plant-growing luminous flux:  Perfect growing conditions that reduce plant stress and promote growth.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-primary">
                    <img src="/static/img/d9-BigGrow/d9-BigGrow----F.png" alt="Delta9 BigGrow F" class="img-fluid">
                    <h4 class="info-title">FarRed (700-800nm): 300&mu;Mol</h4>
                    <p class="description">Far Red light is critical to simulate a normal daytime pattern for plants. Far red light signals dawn, and dusk. It also controls the shadow response.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-warning info-raised">
                    <img src="/static/img/d9-BigGrow/d9-BigGrow-BGRF.png" alt="Delta9 BigGrow BGRF" class="img-fluid">
                    <h4 class="info-title">1,000W Peak Load</h4>
                    <p class="description">At full power, the d9 system draws 1,000W. With a total WPE of 42%<br/>The system can accept 120 to 240Vac at 50 or 60Hz.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-success">
                    <img src="/static/img/d9-BigGrow/d9-BigGrow--G--.png" alt="Delta9 BigGrow B" class="img-fluid">
                    <h4 class="info-title text-muted">Green (500~600nm): 400&mu;Mol</h4>
                    <p class="description text-muted">Green light provides signals that control plant photomorphism and growth. It has (some) photosynthetic power but it mostly regulates plant metabolism.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
</div>
</div>
</div>
<div class="wrapper">
<br/>
<br/>
<br/>
<br/>
<br/>
